[2017-08-14 02:29] jtopjian commented on #459
@xiangfeiz Right - increasing expiry time won't guarantee a resolution to this problem. It's really a short-term fix. For an environment I work in, we set the token expiry to 8 hours specifically to cover long snapshotting processes. Our reasoning is that if a snapshot takes longer than 8 hours, something else is wrong. By that reasoning, you could gauge how long the longest running process should

[2017-08-14 02:41] jtopjian commented on #441
__Topic__: Should Gophercloud alter result struct fields based on the microversion?
__Topic__: Should Gophercloud alter behavior of an API call depending on the microversion?

Proposal: If a microversion adds a field, Gophercloud should handle it in the same way extensions are currently handled:

* Extensions to Results can be handled similar to [availabilityzones](https://github.com/gophercloud/g

[2017-08-14 11:58] pospispa commented on #441
**Topic:** Should Gophercloud alter result struct fields based on the microversion?
**Topic:** Should Gophercloud alter behavior of an API call depending on the microversion?

@jtopjian I agree with the proposal.

[2017-08-14 15:48] pospispa commented on #441
@jtopjian my answers to the design questions we're discussing kept developing during the discussions that's why I'm summarizing current status of my answers.

***

**Topic:** To what extent does Gophercloud need to be concerned about microversions?

In similar way as python openstack clients like [`python-manilaclient`](https://github.com/openstack/python-manilaclient/), [`python-novaclient`](http

[2017-08-15 00:32] jtopjian commented on #441
@pospispa

That's perfect. That's the main objective here. Likewise, I'm still undecided on a few issues, namely around what place min and max microversions have in Gophercloud. But I do think we are slowly forming a better idea about how this should be implemented in Gophercloud. :)

Check out #387. Although there isn't a lot of information, I attempted to try this and found too many minor differ

[2017-08-15 01:34] jtopjian commented on #446
@jrperritt Would you mind if I merged the PRs that only contain doc changes or do you prefer to do a review of them? There's going to be a good number of these over the next week.

[2017-08-15 01:39] jrperritt commented on #446
No, in fact I was going to suggest just that.

[2017-08-15 02:03] jrperritt commented on #441
I very much like the discussion this has created. I'm still unconvinced there's anything more to do about microversions. They seem to be most (if not exclusively) useful in an interactive setting (e.g. from a CLI). Maybe it's just that, at present, I don't see how a user gains much by knowing the service's microversion:
- If a user tries to use a feature that is in a microversion more recent than

[2017-08-15 02:58] jtopjian commented on #441
@jrperritt

Can you clarify what you mean by "anything more"? Do you mean: "at this time there doesn't seem to be any changes required to Gophercloud"?

I do think decisions about how additional and modified fields is important, though there isn't a current situation where this needs implemented.

But with regards to "guarding" API calls with a min/max as well as discovering min/max, allowing the

[2017-08-15 03:18] jrperritt commented on #441
Yes. Importantly, I don't mean we won't do anything else; only that I've yet to be convinced that additional functionality would be proportionally useful. We do already allow users to set the microversion and will continue to add supported OpenStack services as they implement microversions.

Follow-up question: Additional fields can be added to the Gophercloud request and response structs without

[2017-08-15 05:04] jtopjian commented on #441
Right, but by extending the "base" request and response fields. If new fields were added to the base request, there would likely be a server error about unrecognised fields if the request was made against a service that did not meet the minimum required microversion.

My current understanding is that microversions are a way to make significant changes to the API without bumping the major version n

[2017-08-15 10:15] pospispa commented on #441
Yes, even backward-incompatible changes increase only minor version number.

Citing from [microversions description](https://developer.openstack.org/api-guide/compute/microversions.html): "... microversions are not following semver and therefore backward compatibility is **not guaranteed**."

AFAIK, there's a subjective decision making: Is the backward-incompatible change big enough to justify an

[2017-08-16 11:37] #297 closed

[2017-08-16 11:37] pospispa commented on #297
This is duplicate of https://github.com/gophercloud/gophercloud/issues/461

[2017-08-16 13:52] jtopjian commented on #297
@pospispa oops - I didn't notice this one. I would have used it instead of #461

[2017-08-16 14:59] pospispa opened #488 "Discussion: Improvements/Fixes to Grant Access and Share Export Locations Requests"
Grant Access and Share Export Locations requests were added in the below PRs:
- Grant Access: https://github.com/gophercloud/gophercloud/pull/346
- Share Export Locations: https://github.com/gophercloud/gophercloud/pull/381

I don't want to clutter discussions in https://github.com/gophercloud/gophercloud/issues/441 with detailed discussions whether the above PRs should be improved/fixed.

***

**

[2017-08-17 06:03] jtopjian commented on #488
__Topic__: Newly added fields into results.

I would say yes. But remember that things could still change. I wanted to merge the PRs you had because the fields were valid as of the current state of Manila (meaning: current api version) and we hadn't (and still haven't) made firm decisions about microversions yet. Just a heads up that any other PRs might take longer to merge as we don't want to kee

[2017-08-17 06:36] jtopjian commented on #441
I was looking at #488 and thinking the process through. If Gophercloud chose to strictly adhere to microversions and consider any additional field to be an "extension" of the base API, that might become a nuisance, especially when an OpenStack service begins to liberally use microversions.

As pointed out in #488, this is the current [`ExportLocation`](https://github.com/gophercloud/gophercloud/bl

[2017-08-18 01:21] jtopjian commented on #441
@j-griffith I'm definitely interested in hearing more. It sounds like you want Gophercloud to query the the API endpoint to see what the API service is advertising and then determine the best course of action?

Can you elaborate more on this?

That's really good to know.

Not having any microversion info in the client sounds like a very different approach than what the python clients are doing, ri

[2017-08-18 12:14] pospispa commented on #441
@jtopjian [in his comment](https://github.com/gophercloud/gophercloud/issues/441#issuecomment-322982125) described a possible approach to `ExportLocation` and `ExportLocationPreferred` data structures. Strictly separating fields that were added in a particular microversion from fields added in a different microversion.

Let me try to have a look at the above problem from a different perspective.
I

[2017-08-18 12:52] pospispa commented on #441
@j-griffith citing from [your comment](https://github.com/gophercloud/gophercloud/issues/441#issuecomment-323212857):

I think that it's currently possible via the `X-OpenStack-XXXX-API-Version` header. Particularly, `gophercloud` user can do something like:
[code]

[2017-08-18 16:07] pospispa commented on #488
**Topic:** Newly added fields into results.

@jtopjian I explained [in this comment](https://github.com/gophercloud/gophercloud/issues/441#issuecomment-323337653) that I prefer to keep the implementation as it is.

@jtopjian I'm gratefull for that.

***

**Topic:** Grant Access top element was renamed.

Yes, it's a different type of change and I think it requires a completely different approach th

[2017-08-19 02:31] jtopjian commented on #252
To provide an update to this issue: #489 was merged which allows `scope['domain']['name']` to be set.

Unless I am mistaken, Gophercloud now supports all possible auth and scope options. The way those options are set, though, may not be immediately recognizable to some and differs from the "standard" implementation.

In order to fully consider this issue resolved, the following needs investigated/

[2017-08-19 02:47] jtopjian commented on #441
@pospispa I think what @j-griffith might have been getting at is that each API _call_ could have its own separate microversion.

Using the Manila `GrantAccess` call as an example, a Manila microversion revision changed the body from `os-allow_access` to `allow_access`. Rather than this being recorded under the Manila project's microversion of 2.7, `GrantAccess` would have its own series of microve

[2017-08-21 07:47] jobrs commented on #252
:+1:

[2017-08-21 14:56] j-griffith commented on #441
Correct, the difficulty with micro versions is the versioning is applied per API call.

Yes, that's a perfect example; so the question becomes how do you expose that level of granularity to an end user and the REAL question is how to you support it?  My porposal is that you don't!  Instead we do something like pick a version (something like using MAX_MICROVERSION of current release - 1) and we pro

[2017-08-21 15:13] j-griffith commented on #441
Absolutely, yes it's possible, that's kinda the problem; it's possible to choose any of any combinations that will continue to grow (perhaps exponentially) over time.  As was pointed out I was mostly stating that trying to support that by initializing a client with the desired microversion for a specific API call would mean a new client initialization for every single API call (that may or may not

[2017-08-22 05:18] jtopjian commented on #446
Alright. That'll do for now. I'll circle back to BlockStorage once the v3 stuff has been sorted out.

[2017-08-22 08:56] pospispa commented on #441
In my understanding `gophercloud` implements only what is requested from users in form of an issue or a pull request. So `gophercloud` doesn't have any ambition to implement every microversion. But I may be wrong.

IMHO, the `gophercloud` user is a programmer so he/she should understand the OpenStack service API versioning.

I personally prefer to communicate with stable API, i.e. I choose a speci

[2017-08-22 09:50] pospispa commented on #441
@j-griffith so you would like to limit the scope of what you're going to implement for Cinder v3, wouldn't you?
IMHO, you implement only what you personally need. That was my approach with Grant Access and List Export Locations for Manila v2 API. However, @jrperritt and @jtopjian may have different opinion.

@j-griffith please, do you mean that the logic has to be written by a `gophercloud` user i

[2017-08-23 02:08] jtopjian opened #498 "ToFlavorCreateMap takes a pointer receiver"
The [`ToFlavorCreateMap`](https://github.com/gophercloud/gophercloud/blob/22159404c80aa135fe54f2fc9903803fbf0b118f/openstack/compute/v2/flavors/requests.go#L126-L129) method takes a pointer receiver which is different than all of the other `ToXCreateMap` functions.

@jrperritt do you know if there's a reason for this?

[2017-08-23 02:56] jrperritt commented on #498
I don't think it was intentional

[2017-08-23 12:32] jrperritt commented on #465
closed by #466

[2017-08-23 12:32] #465 closed

[2017-08-24 00:48] jtopjian commented on #498
I figured it was something like that. Was curious if there was some history or if it was purely accidental.

[2017-08-24 01:19] jrperritt commented on #82
closed by #444

[2017-08-24 01:19] #82 closed

[2017-08-24 01:20] jrperritt commented on #498
closed by #499

[2017-08-24 01:20] #498 closed

[2017-08-24 01:42] jtopjian commented on #441
@pospispa

Just to clarify, this comment of mine was in regard to Gophercloud going above and beyond in order to get around bugs/missing features in an OpenStack service (or services). If Gophercloud sent a valid request for microversion 2.5 and the service only supported 2.4 and the server failed to respond with a useful error message (or the type of message defined in the microversion spec), tha

[2017-08-24 09:55] pospispa commented on #441
As a `gophercloud` user I want to have a way to set `client.Microversion` to a value I choose in order to communicate with an easily predictable, stable API and to minimize the number of microversion checks in my program.
I want to check at the beginning of my program whether the OpenStack cloud I'm communicating with supports the microversion I chose and in case the cloud doesn't I want to report

[2017-08-24 12:44] pospispa commented on #441
@jtopjian I'm thinking loudly about `createOpts`. Will it be enough if we add min/max version metadata to a [`createOpts` structure](https://github.com/gophercloud/gophercloud/blob/master/openstack/sharedfilesystems/v2/shares/requests.go#L93-L103) and compare the min/max versions with currently used microversion in [`optsBuilder`](https://github.com/gophercloud/gophercloud/blob/master/openstack/sh

[2017-08-24 15:42] fatmcgav opened #500 "Support delete of flavors"
Add support for deleting flavors.

[2017-08-24 20:29] tchughesiv opened #502 "BlockStorage v2: Support Cinder "noauth" auth_strategy"
Here's my current approach:
https://github.com/gophercloud/gophercloud/compare/master...tchughesiv:cinder-noauth

Example of Creating a Service Client
[code]

This is already supported in the python client:
https://github.com/openstack/python-cinderclient/commit/60f92db7049b4f66e5198b86bfecc1029b6cdccd

[2017-08-24 20:31] jtopjian commented on #502
@tchughesiv Would it be possible to implement this similar to swauth?

https://github.com/gophercloud/gophercloud/tree/master/openstack/objectstorage/v1/swauth

[2017-08-24 20:42] tchughesiv commented on #502
@jtopjian don't see why not... let me give it a go in a separate branch.

[2017-08-24 21:59] tchughesiv commented on #502
@jtopjian here's a first go add new route ... still no tests yet, but wanted initial feedback:
https://github.com/gophercloud/gophercloud/compare/master...tchughesiv:cinder-new-noauth

used like:
[code]

[2017-08-25 02:22] jrperritt commented on #441
Using `struct` tags is, at the least, what I would've tried first and, perhaps, what will end up working best. However, I'm not sure there's a way to use reflection to build a `struct` that will enable users to refer to the fields like that. It seems like it would need something like [this](https://github.com/golang/go/issues/16522), but, even then, I'm not sure if that'd be enough.  And even if w

[2017-08-25 03:08] jtopjian commented on #502
@tchughesiv I think it's a good start and it's worth opening a PR.

Two comments:

1. Can you provide a link to the cinder-api / server-side implementation of this?
2. I think `ProviderClient` should be taken out of the `NewBlockStorageV2` function. I understand why you would want to bundle them together, but for consistency, it should be broken out. You can always write an app-specific `CinderNoA

[2017-08-25 03:35] jtopjian commented on #441
@jrperritt

Yeah, this hit me this morning on my walk to the office.

Regardless of if a struct contains all fields that are valid for all microversions or a subset of fields for a specific microversion, the Gophercloud (or the application) would have to be written for a specific microversion or have a reference schema for each microversion. There's no way to determine what fields are applicable o

[2017-08-25 04:19] j-griffith commented on #441
@pospispa

But the problem with that is that even if you give the user the ability to set a mv what good does it do when your request is malformed, or when gophercloud doesn't implement that specific mv?  So yeah, the version request idea is great, and that makes sense; but two things:

1.  The cloud supports the version you want
        Great, but now the question is "does gohpercloud support it"

[2017-08-25 05:00] jtopjian commented on #441
@j-griffith

I think I understand you correctly and it makes sense.

My concern is that in the future, someone submits a PR for `volume-foo` at microversion 75, which is available in the T release, but it's been available since microversion 44 in Ocata. The 75 revision simply won't work with <75 due to any number of reasons (so the app/user couldn't force the 75 call). Wouldn't that effectively cu

[2017-08-25 05:39] jtopjian commented on #500
Fixed by #501

[2017-08-25 05:39] #500 closed

[2017-08-25 12:27] pospispa commented on #441
@j-griffith

Let's assume I need only one particular API request in one particular microversion. Let's assume:
1. `gophercloud` supports it so I'm fine.
2. `gophercloud` does not support it so I have to create an issue or better a PR that implements the particular API request for the particular microversion. As `gophercloud` development is an ad-hoc/piecemeal development I assume that @jtopjian an

[2017-08-25 12:46] pospispa commented on #441
@jtopjian I share your concerns.

I'm imagining it more like:
[code]
But IMHO, we're getting into implementation details that depend on the amount of differences between versions 44 and 75. Maybe the difference between 44 and 75 will be so small the the below will do:
[code]

***

Note: I'll have time-off for the whole next week so I'll temporarily stop participating in the discussion.

[2017-08-25 13:24] j-griffith commented on #441
Yup, that's a big problem and it makes my *base* method idea a bit more complex but I still viewed it as the least complex.

@pospispa
It's not just an implementation detail really; it's a design decision as well, ok you say "SomeFlexibleType", the only good way to do that with golang and have things be *almost* usable that I know of is map[interface]string which completely sucks for a user and fr

[2017-08-25 13:32] tchughesiv commented on #502
@jtopjian cinder api code:
https://github.com/openstack/cinder/blob/92980e4972356f16389539b4cc926d7b4ec1dc3c/cinder/api/middleware/auth.py#L117

PR coming soon... tks for feedback

[2017-08-25 15:33] pospispa commented on #441
@j-griffith well, OK, you're right it's not just an implementation detail.

Regarding the `SomeFlexibleType` I was thinking about `map[string]interface{}` because `JSON` keys are strings only, aren't they?

Anyway, @jtopjian was trying several "FlexibleTypes" for the request results, but didn't find a "good-enough" one do far.

I have a feeling that there's no silver-bullet, no "SingleFlexibleType

[2017-08-26 15:16] jtopjian opened #504 "Compute v2: Add acceptance test for flavor create/delete"
With the recent addition of `flavors.Delete`, it's now possible to have a full create/delete flavor acceptance test.

[2017-08-26 15:22] jtopjian commented on #504
Fixed by #505

[2017-08-26 15:23] #504 closed

[2017-08-26 16:02] jtopjian commented on #441
@j-griffith

Agreed. And with the limitations/problems identified, we can look at fixing them.

@pospispa

Agreed. IMO, this is very important. I would not want to put the burden of an application/user having to decide whether to call `VolumeFoo44` or `VolumeFoo75` when `client.Microversion` is already set.

I like the general idea of your approach (having one master `VolumeFoo` that delegates to

[2017-08-28 19:59] jtopjian opened #506 "Compute v2: Flavor Access"
- [x] Flavor Access List (#507)
- [x] Flavor Access Add (#687)
- [x] Flavor Access Remove (#688)

API reference:

* https://developer.openstack.org/api-ref/compute/#flavors-access-flavors-os-flavor-access

API code:

* General: https://github.com/openstack/nova/blob/stable/pike/nova/api/openstack/compute/flavor_access.py
* List: https://github.com/openstack/nova/blob/stable/pike/nova/api/openstack

[2017-08-30 03:05] ccatlett2000 opened #509 "Network v2: Security groups are wiped out on port update if not supplied"
If ports.Update is called without specifying a change to the security groups null is sent to neutron, which wipes out an instance's groups.

Example code to trigger bug:
[code]

When I execute the above code (with my OS creds plugged in) NGINX logs this request body:
[code]

[2017-08-30 03:09] jtopjian commented on #509
@ccatlett2000 Thanks for reporting this.

Can you provide the output when you use either the `openstack` or `neutron` command line tool with the `--debug` flag?

[code]

I suspect `security_groups` is omitted entirely from the request body.

[2017-08-30 22:09] ccatlett2000 commented on #509
@jtopjian Yeah, I can confirm that it just doesn't submit `security_groups` at all, as I saw with horizon's requests. However, just in case you need the debug output still:

[code]

[2017-08-31 05:57] jtopjian commented on #509
@ccatlett2000 Thanks for the info. I have submitted #510 which should fix this problem.

In the meantime, passing the current list of security groups to UpdateOpts should work around the issue.

[2017-08-31 14:51] jrperritt commented on #509
closed by #510

[2017-08-31 14:51] #509 closed

[2017-09-05 11:56] fatmcgav opened #511 "Neutron Ports: Add support for `extra_dhcp_opts`"
As requested in https://github.com/terraform-providers/terraform-provider-openstack/issues/99, the [Ports](https://github.com/gophercloud/gophercloud/tree/master/openstack/networking/v2/ports) package should support the `extra_dhcp_opts` param.

Further details on API available here: https://developer.openstack.org/api-ref/networking/v2/index.html?expanded=create-port-detail

[2017-09-05 13:10] pospispa commented on #488
@jtopjian as I was thinking about this issue, I came to conclusion that it make sense to introduce [`discover_versions`](https://github.com/openstack/keystoneauth/blob/master/doc/source/using-sessions.rst) option into endpoint options and use is it in similar way as in [keystoneauth](https://github.com/openstack/keystoneauth/blob/master/doc/source/using-sessions.rst)

I plan to set the `discover_v

[2017-09-06 06:21] jtopjian commented on #441
Here's an idea I came up with:

https://github.com/jtopjian/gophercloud/commit/b9168d5f413864bf83b1c47a5babc3de67ede323

I chose to modify shares simply because I had the API reference opened in my browser and I picked an arbitrary field that was added in an arbitrary microversion (in this case, `share_proto`). It's purely for example purposes.

The idea is to create explicit `CreateOpts` and a re

[2017-09-06 09:54] sb10 opened #512 "Security group rule for ALL ICMP?"
I currently do:

    secgroups.CreateRule(p.computeClient, secgroups.CreateRuleOpts{
			ParentGroupID: group.ID,
			FromPort:      0,
			ToPort:        0,
			IPProtocol:    "ICMP",
			CIDR:          "0.0.0.0/0",
		})

But viewing the result in Horizon it is a port of '0', when I want it to say "Any", which is what it says if I create a rule in Horizon with "ALL ICMP".

How do I specify "ALL ICMP"

[2017-09-06 12:11] pospispa commented on #441
@rootfs there is an idea of gophercloud supporting only the [latest microversion at the time of an OpenStack release](https://github.com/gophercloud/gophercloud/issues/441#issuecomment-327386600). Please, what do you think about it?

[2017-09-06 12:41] pospispa commented on #441
@jtopjian let me think loudly.

In case, the `struct` `Share`, `Share213`, etc. approach shows up being feasible I agree with limiting the support only to the latest microversion at the time of an OpenStack release.

I think we may consider to introduce a `client.SetMicroversion("2.17")` function that will check whether user selected microversion is one of the latest microversions at the time of a

[2017-09-06 13:35] jrperritt commented on #441
I think it'd end up being more work than we'd like. Consider what the return type would look like: since Go doesn't have unions (yet), to return a single type that can take on multiple types it'll necessarily be an `interface`. Now, this is _possible_, but if we want to avoid users type asserting the result, we'd have to provide access methods for all the possible fields:
[code]
Additionally, user

[2017-09-06 15:13] jtopjian commented on #441
@pospispa

The patterns/mechanisms for doing this are already in place.

@jrperritt

bah.

I'm going to dig into this approach a little more. It feels like there's something there.

That's true. One concern I have about this is if someone submits a feature available in an older release. We'd then have to backport that feature to the previous releases. Certainly do-able, and, in theory, there'd onl

[2017-09-06 16:36] jtopjian commented on #512
@sb10 `-1` has generally been used for "All ICMP". Can you try using that in both the `FromPort` and `ToPort`?

Let me know if that doesn't work. That means something changed and I'll have to dig into it.

[2017-09-06 22:35] jtopjian commented on #441
Continuing on the idea of using the Microversion at the time of a release, we could also just use the release name as the identifier. Microversion 3.50 and Pike would be synonymous. Release names are human-readable/rememberable/friendly. When I've helped resolve issues with vendor managed/deployed/customized clouds, usually the vendor will say "this cloud is based on Mitaka". So release names are

[2017-09-06 23:09] jtopjian commented on #441
One other note:

This isn't entirely true. There's no reason why Gophercloud could not accept PRs for Queens right now. Anything marked as Queens would be considered unstable and in flux.

Now in six months if the Queens stuff in Gophercloud isn't correct, that would be an issue that needed to be resolved. _But_ it would be localized to Queens only.

[2017-09-07 01:15] jtopjian commented on #441
Nova API Microversion history: https://docs.openstack.org/nova/latest/reference/api-microversion-history.html

Cinder API Microversion history: https://github.com/openstack/cinder/blob/master/cinder/api/openstack/rest_api_version_history.rst

Manila (does not mark release versions): https://github.com/openstack/manila/blob/master/manila/api/openstack/rest_api_version_history.rst

These have been a

[2017-09-07 01:36] jtopjian commented on #441
One possible issue with using release names instead of a version number is confusion if an API call wasn't altered for several releases. That would mean:

[code]

Would both be valid, but it's entirely possible someone would think `keypairs` for Ocata was missing.

[2017-09-07 03:18] jtopjian commented on #441
Here's another example, similar to yesterday:

https://github.com/gophercloud/gophercloud/compare/master...jtopjian:sharev2-mv-sketch2

Changes made from yesterday:

Uses `232` as in "Microversion 2.32", or the max microversion of OpenStack Ocata. The Ocata release implemented Microversions 2.23 to 2.32.

If this method (or a variation of) was used as Gophercloud's microversion support, all Manila

[2017-09-07 08:12] sb10 commented on #512
Thanks, that works. It would be good if this trick was added to the documentation for CreateRuleOpts  in https://github.com/gophercloud/gophercloud/blob/master/openstack/compute/v2/extensions/secgroups/requests.go , otherwise I don't know how anyone would know to do this?

[2017-09-08 04:21] jtopjian commented on #512
This has been fixed in https://github.com/gophercloud/gophercloud/pull/513

A little bit of background: before Neutron existed, the Nova Security Group API (`compute/v2/extensions/secgroups` here) interacted with the nova-network security groups. All documentation for security groups was in reference to this API and `-1` was liberally mentioned as it was a common question.

When Neutron was releas

[2017-09-08 04:21] #512 closed

[2017-09-08 14:29] pospispa commented on #441
@jtopjian thank you very much for putting all that stuff together. I've a couple of comment.

***

I see it now.

***

Note: name of the OpenStack release is known during the release development, however, the final microversion is not known. The microversion will be known as late as of the time of the OpenStack release.

***

I agree.

I assume that in case a current `struct` doesn't change in a n

[2017-09-08 15:24] j-griffith commented on #441
@jtopjian @pospispa
So one thing I had thought would work for those mv's that are incremental adds is just a add a sub-struct to the original... so something like this (note this is a rough example):

[code]
Then we can check/adjust fields as needed in the function itself and we avoid at least some of the duplication of code.

As far as the example you provided with sharednetworks...  Is there a r

[2017-09-08 20:50] jtopjian commented on #441
@pospispa

Thank you for your comments. I don't want to downplay any of them with such a short reply because they're all good points and I agree with them all.

One thing I'll comment on is the idea of an application being able to support multiple releases of OpenStack. When we were dealing with just Nova v2 or Cinder v2, this was pretty easy to handle. Nova v2 has been available for _years_ and I

[2017-09-08 21:19] j-griffith commented on #441
@jtopjian

Yeah, while it's cleaner in the code base, it's not so great for the user in case of errors; I fully get that.

Nah, I don't think you are; little things like this turn into big things over time.  My fear is that the way micro versions work there isn't going to be a great answer that provides a nice user experience and at the same time is reasonably friendly in terms of coding up an SDK

[2017-09-09 06:26] jtopjian commented on #441
Here's an idea:

I've tried struct tags already:

[code]

The problem is that it's not possible to dynamically build a customized type that filters certain fields based on the microversion. But let's reconsider the idea about struct types continually growing with new fields and new metadata when a field is removed.

For CreateOpts (and UpdateOpts etc), there could be some type of:

[code]

or ther

[2017-09-09 15:23] j-griffith commented on #441
@jtopjian I honestly think this is the best solution, I didn't look at it as closely earlier when it was mentioned, mostly because `reflect` was mentioned and frankly not only is it a bad day IMO it means you're doing something really wrong with this type of software pkg.

Meh... ok; I'd rather get back some things in the struct that I don't need/use than have to fight with how to issue calls to t

[2017-09-11 06:02] jtopjian commented on #441
I spent today looking into this and got pretty far. I focused only on the filtered map results, though.

When working with results, the API response will have a microversion header. This can be added to the `gophercloud.Result.Header` field and then used within the various `Result` methods. This is why `client.Microversion` wasn't used in any of the following.

First I attempted to create a custom

[2017-09-11 16:52] pospispa commented on #441
@jtopjian let me have a couple of comments.

***

IMHO, there may be a field in the future that is added and removed several times, e.g. field `foo` added in "2.19", removed in "2.27", re-added in "2.35", removed again in "2.43", etc.

Microversions allow this.

***

Let me, firstly, discuss results only.

I personally like the idea of having both `Extract` and `ExtractToMap` functions:
- `Extract

[2017-09-11 18:29] jtopjian commented on #441
@pospispa Thank you for your comments.

Thanks for making note of this.

Right, but if Gophercloud is going to provide a thick response with unused fields, it needs to, at a minimum, provide metadata about which microversion the field is valid for. I think this is a common understanding between everyone here, but I just want to explicitly mention it.

If it wasn't such a pain to parse the tags of

[2017-09-12 12:02] pospispa commented on #441
@jtopjian it just occurred to me that there can be a field which name remains the same, but it's type changes for a specific microversion. Let's say a field `foo` has type `time.Time` for microversions up to "2.17" and has type string for microversions "2.18" and above.

The "thick" struct cannot accommodate for such change, because the field having the same name would have to have two different t

[2017-09-13 00:25] jtopjian commented on #441
@pospispa It's a good question, but I wonder (also hope) that it's something that we shouldn't be concerned about. Have you seen this happen in any of the microversioned services (nova, cinder, manila)?

Just out of general design principals, I would hope that someone wouldn't change a field's type once it was declared. Even if the OpenStack services are written in Python, which can handle type ch

[2017-09-14 08:25] Crapworks opened #514 "Feature request: Add support for FWaaS v2.0"
Hi There!

My OpenStack provider only supports FWaaS v2.0 and the v1.0 endpoint is disabled. Since v1.0 is also flagged as deprecated, Gophercloud should support the new FWaaS v2.0 endpoint:

https://developer.openstack.org/api-ref/network/v2/index.html#fwaas-v2-0-current-fwaas-firewall-groups-firewall-policies-firewall-rules

Cheers,
Christian

[2017-09-14 12:12] BenoitKnecht opened #515 "Networking v2: Routers GatewayInfo is missing external_fixed_ips"
Neutron returns an `external_fixed_ips` list in the `external_gateway_info` of a router, but it's not being parsed by gophercloud.

[2017-09-14 18:01] bugosiphionah commented on #461
I am applying for outreachy round 15 and starting to work on this issue as advised by Davanum Srinivas the mentor. I hope no one is working on it for now.

[2017-09-14 18:07] jtopjian commented on #461
@bugosiphionah Thank you for your interest in this! However, there is a PR already in place: #462 (referenced above).

[2017-09-14 18:20] bugosiphionah commented on #461
@jtopjian Thanks for the feedback I will let him know its been worked on so he can advise on another. If you have ideas for any first time bugs I can work on. You can also advise. Thanks

[2017-09-14 18:24] jtopjian commented on #461
@bugosiphionah Sure, I can try to find something. What's your current skill level with each:

* OpenStack APIs
* Go

brand new, some experience, familiar, very familiar?

[2017-09-14 18:27] bugosiphionah commented on #461
@jtopjian I am familiar with Go but brand new to OpenStack APIs but am flexible and willing to learn.

[2017-09-14 18:37] jtopjian commented on #345
@bugosiphionah How about this one? It should be an easy one to get started with.

[2017-09-14 18:49] bugosiphionah commented on #345
@jtopjian  Sounds good. Working on this. I will set up and share a PR .

[2017-09-15 15:05] jtopjian opened #518 "Compute v2: Add Lock/Unlock Action"
Nova supports the ability to lock and unlock an instance:

* https://developer.openstack.org/api-ref/compute/#lock-server-lock-action
* https://developer.openstack.org/api-ref/compute/#unlock-server-unlock-action

This action would look very similar to the [pause/unpause](https://github.com/gophercloud/gophercloud/tree/master/openstack/compute/v2/extensions/pauseunpause) action.

Additional work r

[2017-09-15 15:09] jtopjian commented on #511
Additional work required: Locate where `extra_dhcp_opts` is defined in Neutron.

Bonus: add `extra_dhcp_opts` to an existing [Port acceptance test](https://github.com/gophercloud/gophercloud/blob/master/acceptance/openstack/networking/v2/ports_test.go) and verify it works.

[2017-09-15 15:12] jtopjian commented on #385
@mfranc213 Are you still interested in implementing this? No problem at all if you don't have the time.

[2017-09-15 15:13] jtopjian commented on #378
Additional work required: Locate where `disk_bus` and `device_type` are defined in `block_device_mapping` v2.

Bonus: add these attributes to an existing (or new) [acceptance test](https://github.com/gophercloud/gophercloud/blob/master/acceptance/openstack/compute/v2/bootfromvolume_test.go) and verify it works.

[2017-09-15 15:13] jtopjian commented on #345
Fixed by #517

[2017-09-15 15:13] #345 closed

[2017-09-15 15:18] jtopjian opened #519 "Compute v2: Add Evacuate Action"
Nova supports the ability to evacuate a compute node:

* https://developer.openstack.org/api-ref/compute/#evacuate-server-evacuate-action

This action would look similar to the [migrate](https://github.com/gophercloud/gophercloud/tree/master/openstack/compute/v2/extensions/migrate) action.

Additional work required: Locate where evacuate is implemented in the Nova API service.

Bonus: Implement an

[2017-09-15 15:22] jtopjian opened #520 "Compute v2: Add Live Migration Action"
Nova supports the ability to live migrate instances between compute nodes:

* https://developer.openstack.org/api-ref/compute/#live-migrate-server-os-migratelive-action

This action should amend the current [migrate](https://github.com/gophercloud/gophercloud/tree/master/openstack/compute/v2/extensions/migrate) action with a new request.

Additional work required: Locate where live migration is im

[2017-09-15 15:26] jtopjian opened #521 "Compute v2: Add Reset State Action"
Nova supports the ability to reset an instance's state to either `active` or `error`:

* https://developer.openstack.org/api-ref/compute/#reset-server-state-os-resetstate-action

This action should look similar to the [migrate](https://github.com/gophercloud/gophercloud/tree/master/openstack/compute/v2/extensions/migrate) action (but I might be wrong).

Additional work required: Locate where the r

[2017-09-15 16:55] bugosiphionah commented on #518
@jtopjian I Would love to work on this over the weekend. We can discuss my solution on IRC on Monday.

[2017-09-15 17:04] pospispa commented on #441
@jtopjian I haven't seen it to happen. So we won't be concerned about it.

***

So we are discussing these approaches:
- `map[string]interface{}` approach that is very generic.
- Microversion specific struct approach (`ShareNetworks232`) that results in code duplication.
- "thick" struct.

Please, am I right?

Is it already time to pick the best not-prefect solution?

***

Can we use a different a

[2017-09-15 22:29] jtopjian commented on #518
Sure, go for it. :)

Github is the best way to discuss Gophercloud. I'm not normally on IRC.

[2017-09-16 15:51] jrperritt commented on #424
closed by #508

[2017-09-16 15:51] #424 closed

[2017-09-16 16:13] jrperritt commented on #455
closed by #456

[2017-09-16 16:13] #455 closed

[2017-09-17 16:56] jtopjian commented on #441
@pospispa apologies for the late reply - I've been tied up with a few other things. Again, not to dismiss your reply with such a short response, but I agree with everything mentioned.

Except for possibly the `request` method. I'm still debating whether using a "think" `CreateOpts` combined with an `IsValidFor("micro.version")` might be a good option. But I haven't had time to look into this.

- -

[2017-09-18 20:43] skywalk7 commented on #434
@jtopjian Sorry for late reply. We resolved the issue by updating our SwiftStack Openstack Swift instance to latest version. Sorry for bugging.

[2017-09-18 20:43] #434 closed

[2017-09-18 20:44] jtopjian commented on #434
@skywalk7 No problem at all - glad you got it resolved :)

[2017-09-19 14:58] pospispa commented on #441
@jtopjian I assume that `IsValidForXY("micro.version")` function will be both available to the user and used in `"RequestXY"` function. So a `"RequestXY"` function would start like:
[code]

***

I've never used the the [NullX](https://golang.org/pkg/database/sql/#NullBool) fields. I agree that it makes more sense to have the information "is empty or not set" directly in the "thick" struct instead

[2017-09-20 02:58] jrperritt commented on #441
Just a note to say that I have not forgotten about this; just have been very busy with other things at work. I know the ball's in my court, and I'm planning to propose a way forward when I find some time (hopefully within the next week).

[2017-09-20 15:25] dklyle commented on #385
I'm working on this, and I should have a pull request up in the next day or two.

[2017-09-21 01:18] khdegraaf commented on #514
I am working on implementing this right now (for Huawei Cloud providers like OTC) in a private fork.  When this is finished and tested, I'll do a Pull request.

[2017-09-21 01:26] jtopjian commented on #514
@khdegraaf Thanks for your interest in this. Just a heads up that for large features such as this, you'll want to open one PR for each API request method.

For example, one PR for `GET firewall_group`, one for `DELETE firewall_group`, etc.

Let me know if you have any questions.

[2017-09-23 17:33] jtopjian opened #524 "Compute v2: Small Extension Fixes"
Packages under `compute/v2/extensions` require some small fixes:

* lock/unlock doc fix
* Change `ErrResult` in suspend/resume
* migrate doc fix
* Change `ErrResult` in defsecrules
* Change `ErrResult` in pause/unpause
* Change `ErrResult` in start/stop
* Change `ErrResult` in secgroups

These are all small, minor changes, so I'm going to submit a PR with the collection.

[2017-09-24 14:59] jaypipes opened #526 "Support the Placement API"
The Placement API was [introduced](https://github.com/openstack/nova/commit/2ae10ce5225f593dd6b0d784adafa34939c26260#diff-fcca11e34c1b5fce52a4ddbc418aa2d5) to OpenStack in the Newton release.

It allows **administrative** users to request and modify data about resource providers, inventory records, allocation records and grouping of providers (aggregates).

While the Placement API is currently a d

[2017-09-24 15:00] jaypipes commented on #441
Phew, OK, finally was able to read through this monster :) Great conversations above!

A couple thoughts from me:

1. I think @jtopjian's solution of creating structs that represent the *exact* request and response structs expected from a particular microversion is the correct approach (and in fact, it's how we [handle things](https://github.com/openstack/nova/blob/master/nova/api/openstack/placem

[2017-09-24 15:30] jtopjian commented on #526
Sure - go for it :)

For entire feature sets such as this, we like to break things up into per-method PRs. Picking something arbitrary from the link you have, each of [these](https://github.com/openstack/nova/blob/9d6acfaf7cd09710accbbae4486114d1707515d0/nova/api/openstack/placement/rest_api_version_history.rst#16-traits-api) would be a separate PR.

You can bundle them up into a single Issue like

[2017-09-24 16:00] jtopjian commented on #441
Hi Jay! Thanks for jumping in.

This approach has a lot going for it. There's a trade-off between repeated code/fields and simple explicitness. IMO, one missing piece is how the application that consumes Gophercloud can easily/sanely manage supporting multiple releases/microversion milestones.

With the suggestion of using maps, a resulting map (contents of which could be from a variety of microve

[2017-09-25 16:15] jrperritt commented on #524
closed by #525

[2017-09-25 16:15] #524 closed

[2017-09-25 18:59] bugosiphionah commented on #519
@jtopjian Working on this.

[2017-09-26 14:26] ss22ever commented on #520
@jtopjian I would like to take this

[2017-09-26 14:27] ss22ever commented on #521
@jtopjian I would like to work on this

[2017-09-26 14:36] jrperritt commented on #520
@ss22ever Great, it's yours

[2017-09-26 14:37] jrperritt commented on #521
@ss22ever Great, it's yours

[2017-09-26 17:54] jrperritt commented on #502
closed by #503

[2017-09-26 17:54] #502 closed

[2017-09-26 21:37] davidaah opened #528 "Identity v3: Add Project List for Users"
OpenStack Identity API v3 allows you to get a list of projects that a user has access to via `/users/{user_id}/projects`. I am looking to add this functionality to gophercloud which has a similiar implementation for listing groups that a user has access to (`/users/{user_id}/groups`)

[2017-09-27 01:54] khdegraaf commented on #514
Hey Christian, you can see my work in progress at https://github.com/khdegraaf/gophercloud.  It appears to work, and runs all of the acceptance tests I have turned on.  I didn't turn on TestFirewallGroupCRUDPort and TestFirewallGroupCRUDRemovePort as I haven't been able to figure out how to use the REST apis to create an attachable port for the firewall group when using the OTC cloud.  I have code

[2017-09-27 03:16] jtopjian commented on #514
@khdegraaf I read both the above reply + your comments in the Terraform repo. While I don't think I can provide assistance with the OTC cloud, when you're ready to start submitting code to either here or Terraform, I'll be glad to review. Also just wanted to say thank you for your work on this.

[2017-09-27 09:53] ss22ever opened #530 "Tests fail for go test ./..."
While installing gophercloud on Ubuntu VM a few tests failed.I would like other contributors to have a look at this
Providing the error log gist:
https://gist.github.com/ss22ever/b9f11a18de3754a163e294656b9c1577/

[2017-09-27 11:02] ss22ever opened #531 "Create a new repo for http://gophercloud.io/"
Currently, http://gophercloud.io/ uses the branch https://github.com/rackspace/gophercloud/tree/gh-pages.Since we have moved to https://github.com/gophercloud/ it will be nice to have a seperate repo for the same.

[2017-09-27 14:12] jtopjian commented on #530
@ss22ever Thanks for reporting this.

The reason why this error was never discovered before is because we only test things in the `testing` packages:

* https://github.com/gophercloud/gophercloud/blob/master/script/unittest
* https://github.com/gophercloud/gophercloud/blob/master/script/coverage

This seems to be a mistake in the [`orchestration/v1/stacks`](https://github.com/gophercloud/gopherclo

[2017-09-27 14:30] ss22ever commented on #530
Ohk @jtopjian @jrperritt  if this looks like a low hanging fruit I would like to fix that.

[2017-09-27 14:42] ss22ever commented on #531
@jrperritt Yeah, thanks, I will.Regarding  http://gophercloud.io/ what about all the links on the website that point to rackspace repository?

[2017-09-27 14:54] jrperritt commented on #531
I think `gophercloud.io` will stay as-is for now (though I don't control that domain). It's likely that many people still use the `rackspace/gophercloud` library. Regardless of that, all the supported (official) documentation for this repo will reside in this repo so that it can be viewed on Godoc and/or Github.

[2017-09-27 19:53] khdegraaf commented on #514
OK Thanks.  I'm sure I'll sort this out eventually.  I have confirmed that my code appears to work properly against OpenStack/Pike, although my test case still has problems, but I get all the way to successfully creating the firewall group, just not leaving "PENDING CREATE" status.  So even just a working script for getting a firewall group active using any sort of automation (cli, rest api) would

[2017-09-27 20:34] bugosiphionah opened #535 "Compute v2: Add resetNetwork Action"
Nova supports the ability to Reset Networking On A Server.

    https://developer.openstack.org/api-ref/compute/#reset-networking-on-a-server-resetnetwork-action

I can open a PR for this if it is agreed this action is worth implementing.

[2017-09-27 22:17] jtopjian commented on #535
@bugosiphionah One difficulty I see with this is:

So in order to fully test this, someone will need access to a Xen-based OpenStack environment with instances that have the XenAPI agent running. If you have access to a Xen-based OpenStack environment, you can definitely proceed with a PR.  But if you don't, it would be better to wait until someone with knowledge of running Xen can either add this

[2017-09-27 22:22] jtopjian commented on #530
@ss22ever You're more than welcome to fix this up.

IMO, the best way to proceed is to move the tests contained in the `*_test.go` files into the `testing` directory/subpackage. Once that's done, the tests will still fail (but at least Travis will now acknowledge them). If you have any problems trying to get the test working, let me know.

[2017-09-28 07:58] ss22ever commented on #530
@jtopjian doing that shows :
can't load package: package github.com/gophercloud/gophercloud/openstack/orchestration/v1/stacks/testing: found packages testing (doc.go) and stacks (environment_test.go) in /home/suramya/go/src/github.com/gophercloud/gophercloud/openstack/orchestration/v1/stacks/testing

[2017-09-28 11:35] bugosiphionah commented on #535
I do not have a Xen-based OpenStack environment for now(I may look into this in the near future). Someone knowledgeable can help with adding support for this functionality.

[2017-09-28 14:14] jtopjian commented on #530
@ss22ever You'll have to change the package declaration at the top of the `*_test.go` files after you move them. There's probably other modifications you'll have to make within the files as they will be accessing functions outside of the `testing` package.

[2017-09-28 20:00] davidaah opened #537 "Question on license attribution for OpenStack documentation"
This came up (and was mitigated in the particular case) in #529, however there are cases in the library where examples, etc have already been pulled directly out of the documentation.

Opening this issue to start a discussion on how the Gophercloud project wants to/should attribute these references under the requirements of CC BY 3.0  (from docs.openstack.org: `Except where otherwise noted, this d

[2017-09-28 21:28] dklyle opened #539 "Identity v3: Groups CRUD"
- [x] Add List / Get (#546)
- [x] Add Create (#548)
- [x] Add Delete (#552)
- [x] Add Update (#553)

General API reference: https://developer.openstack.org/api-ref/identity/v3/index.html#groups

API processing:

https://github.com/openstack/keystone/blob/stable/pike/keystone/identity/controllers.py#L302
https://github.com/openstack/keystone/blob/master/keystone/identity/backends/sql.py

Schema:

h

[2017-09-28 21:30] dklyle commented on #539
I have to refactor my previous pull request https://github.com/gophercloud/gophercloud/pull/534 into separate PRs per operation, but most of this is already complete. Will post shortly.

[2017-09-29 02:08] jtopjian commented on #537
Thanks for opening this for discussion.

I think there are two items for consideration here:

1. The use of API reference samples for unit tests.

I think we should begin to discourage the use of these. Given we don't allow the API reference docs as a primary source of information, we should also not use the API reference samples to base unit tests on. I'm sure there are existing fixtures that are

[2017-09-29 02:50] jtopjian commented on #518
Implemented in #522

@bugosiphionah Nice work on this!

[2017-09-29 02:50] #518 closed

[2017-09-29 03:05] jtopjian opened #540 "Compute v2: Flavor Extra Specs"
Flavors can contain "extra specs", or additional metadata about the flavor. Gophercloud currently does not have any support for this.

- [x] List Extra Specs (#686)
- [x] Get an Extra Spec (#686)
- [x] Create an Extra Spec (#689)
- [x] Update an Extra Spec (#712)
- [x] Delete an Extra Spec (#705)

API reference:
* https://developer.openstack.org/api-ref/compute/#flavors-extra-specs-flavors-os-flav

[2017-09-29 03:13] jtopjian commented on #526
@jaypipes Quick question: You mentioned the word "aggregates". Does the Placement API modify the functionality of the [os-aggregates](https://developer.openstack.org/api-ref/compute/#host-aggregates-os-aggregates) API calls?

I was just about to open an issue to add `os-aggregates` functionality and wanted to know if there will be some overlap. No doubt `os-aggregates` will still be applicable for

[2017-09-29 03:20] jtopjian commented on #528
Implemented in #529

[2017-09-29 03:20] #528 closed

[2017-09-29 04:27] ss22ever commented on #540
@jtopjian I would like to take that.

[2017-09-29 04:38] jtopjian commented on #540
@ss22ever You are more than welcome to, but I'd like to ask that contributors ensure the amount of work they take on at once can be completed in a timely manner.

[2017-09-29 14:33] jrperritt commented on #537
@jtopjian That's what I'm thinking, too: OpenStack source code (including for unit tests, docs) shouldn't make it's way into this repo, and anything that already is should be removed/changed. Bottom line: We shouldn't be mixing licenses (Gophercloud is under Apache 2.0), nor have the need to provide attributions.

[2017-09-29 14:38] jaypipes commented on #526
@jtopjian Placement aggregates and Nova host aggregates are different concepts, actually. Both concepts will remain in each API for the foreseeable future. If you'd like to create an issue about os-aggregates and assign to me, go for it. :)

[2017-09-29 14:46] jaypipes commented on #526
@jtopjian Some of the differences between Nova host aggregates and Placement aggregates include:

1. Nova host aggregates can have metadata associated with them (this is actually how availability zones are "implemented" in Nova). Placement aggregates are ONLY groupings of resource providers [1], nothing more.

2. A Nova host aggregate is actually NOT associated with a compute node (the thing that

[2017-09-29 14:58] pospispa commented on #441
@jrperritt I assume that you haven't found time so far.

[2017-09-29 15:31] jtopjian commented on #526
@jaypipes Got it. Thank you!

[2017-09-29 18:42] jrperritt commented on #441
I haven't. When I do, I'll post it here

[2017-10-02 09:02] pospispa commented on #441
@jrperritt I realized that my reminders don't make any good. In addition, you feel annoyed.
I'm sorry for that. I'll stop pinging you.

[2017-10-03 02:29] khdegraaf opened #543 "acceptancetest_environments/*.sh setup scripts no longer work"
scripts like keystonev3-lbaasv2.sh and keystonev2-lbaasv1.sh no longer work as they refer to mitaka branch in

git clone https://git.openstack.org/openstack-dev/devstack -b stable/mitaka

but that branch is EOL and no longer there.  Is there an official environment setup script that works?  Just trying to sort out the fine details of getting the acceptance tests running 100%.  I tried it with stab

[2017-10-03 02:34] jtopjian commented on #543
@khdegraaf I was the original creator of those scripts and it's something I should really clean up. You're right - those scripts are _way_ out of date. I'll get that sorted out in the next few days.

Coincidentally, Gophercloud is currently tested on the exact same setup as Terraform.

I ran into this the other day and pretended I didn't see it. I need to set aside a good full afternoon and/or eve

[2017-10-03 02:38] jtopjian commented on #543
@khdegraaf Also, if you're interested, I have begun documenting how the Gophercloud and Terraform test environments are created:

http://terrarum.net/blog/building-openstack-environments.html

That details deploying to AWS, but as I mentioned in the Terraform OpenStack repo, any isolated virtual machine should work.

The blog post covers how to easily set all of the required environment variables

[2017-10-03 03:01] khdegraaf commented on #543
Thanks, that is really helpful.  I was going to ask you what if anything you do with the network (following https://www.rdoproject.org/install/packstack/), but I see you answer that in your blog post.  I'll try it out.

[2017-10-04 03:47] khdegraaf commented on #514
I got complete acceptance test working against Pike in VM, so I figured out my port/router/firewall group problem (l3_agent was goofed up on my VM).  I still have issues with OTC, and need to review and package up into the proper bite sized PRs.

[2017-10-04 10:25] eugenetaranov opened #544 "Attach/detach configuration groups"
Currently db/v1/configurations is missing functions that would attach or detach configuration group to/from the instance. Is there something I am missing? Otherwise I would be happy to submit pull request.

[2017-10-04 15:50] jtopjian commented on #544
I don't think so. If it looks like it's missing, it's most likely missing 😄

The most confident way to determine this is to see if any of the `urls.go` files contain the URL of this API.

You are most welcomed to submit a PR for this!

[2017-10-06 07:34] ss22ever commented on #521
@jtopjian @jrperritt I tried creating the reset state action and when I test it shows me
`go test .
--- FAIL: TestResetState (0.01s)
        convenience.go:300: Expected JSON:
                {
                  "os-resetState": null
                }
        convenience.go:308: Actual JSON:
                {
                  "os-resetState": {
                    "state": "active"

[2017-10-06 08:36] ss22ever commented on #540
@jtopjian Thanks, just got familiar with the project, trying my best to contribute in a timely manner.Can expect a pr soon.

[2017-10-06 20:13] dklyle commented on #539
Sorry for the github butchery. Dependent branches were a mistake. I will wait for #546 to merge before further pull requests on this.

[2017-10-07 00:05] eugenetaranov commented on #544
Thanks @jtopjian, submitted pr https://github.com/gophercloud/gophercloud/pull/547

[2017-10-09 13:12] Crapworks commented on #514
@khdegraaf
Sorry for my late reply. It looks indeed like we a having the same goal here :) I am sending you an email in a few minutes so we can connect. I hope to be able to help you with your current OTC problems and would like to talk with you about the provider you are working on in general.

Cheers,
Christian

[2017-10-09 21:34] nate-johnston opened #549 "Compute v2: Add detailed quota reporting"
Nova supports the ability to get not just the current quota for a tenant, but also the current allocation against the quota [1] through a "detail" endpoint.  Please enable this collection.

[1] https://developer.openstack.org/api-ref/compute/#show-the-detail-of-quota

This action would look similar to the existing quota fetch action, with a more complex response set.

[2017-10-10 08:11] jamiehannaford opened #550 "Add ListRoles function to Keystone v3"
Currently we don't support the [list roles](https://developer.openstack.org/api-ref/identity/v3/#list-roles) function. Ideally a PR would implement the full CRUD set for Roles, but list would be a good first step.

[2017-10-10 13:30] nate-johnston opened #551 "Compute v2: Add Simple Tenant Usage extension"
Nova's os-simple-tenant-usage extension [1] provides the ability to show metered usage data for OpenStack clouds.  This is very useful information to create a billing model around OpenStack clouds.  This would be a new Compute v2 extension.

[1] https://developer.openstack.org/api-ref/compute/#usage-reports-os-simple-tenant-usage

[2017-10-10 16:54] dklyle commented on #550
I can take this.

[2017-10-10 18:42] dklyle commented on #550
Looking at the role content that exists around role assignments. I will likely want to refactor the exiting RoleAssignment struct as it includes structs for Role, User, and Group which are defined in role/results.go As there are structs defined elsewhere that match these already and I will need to define a Role struct for the context of listing roles that has more information. Just want to make su

[2017-10-10 19:18] jtopjian commented on #550
Quite coincidentally, I'm working with the RoleAssignment API in Python at this moment.

From what I can see, the information contained in the result of a RoleAssignment entry is only a subset of a full domain, user, group:

[code]

This also seems to match the API docs: https://developer.openstack.org/api-ref/identity/v3/#id271

I haven't done a raw curl command to verify, though.

Since the `rol

[2017-10-10 22:49] dklyle commented on #550
My biggest concern is that there is a role struct that is defined as just an ID. A true Role struct with name, domain_id, ID, etc is more correct. I would prefer to at a minimum rename the existing Role struct to something else or I'll have to invent a less natural name to match what I would consider the full Role struct. The others (user, group) would just be potentially confusing.

[2017-10-11 00:44] jtopjian commented on #550
Agreed. the `roles.Role` struct most definitely needs fleshed out.

six-one-way-half-a-dozen-the-other :)

Either adding additional fields to the current `Role` struct and creating something like a `RoleAssignment` struct _or_ renaming the existing `Role` to `RoleAssignment` and creating a new `Role` struct with all known fields that a GET would return.

Whatever the names turn out to be, I do und

[2017-10-11 09:02] yongfengdu commented on #320
Should this issue being closed since this is tracked in #327?

[2017-10-11 09:44] yongfengdu commented on #378
I'll look into this issue

[2017-10-12 00:37] jtopjian commented on #320
@yongfengdu No, this needs to stay open for two reasons:

1. All Gophercloud Pull Requests must have a corresponding issue.
2. #327 seems to have gone stale. Likely someone else could/should follow-up with a new PR.

[2017-10-12 00:49] jtopjian commented on #539
:tada:

[2017-10-12 00:49] #539 closed

[2017-10-12 03:59] jtopjian commented on #543
@khdegraaf Thanks for reporting this. #554 removed the obsolete scripts and added some documentation on building environments. Let me know if you have any questions.

[2017-10-12 03:59] #543 closed

[2017-10-12 04:06] jtopjian commented on #521
Implemented by #545

[2017-10-12 04:06] #521 closed

[2017-10-12 04:06] jtopjian commented on #515
Implemented by #516

[2017-10-12 04:06] #515 closed

[2017-10-12 23:14] dklyle opened #555 "Identity v3 domains CRUD"
- [x] List / Get (#556)
- [x] Create
- [x] Delete
- [x] Update

List:
 https://github.com/openstack/keystone/blob/83bd595b22944d38eff1cdef77b4c07a75af0fdc/keystone/resource/controllers.py#L140

Get:

- General project model/schema:
  https://github.com/openstack/keystone/blob/master/keystone/resource/schema.py#L51

- Controller / router:
 https://github.com/openstack/keystone/blob/83bd595b22944d38

[2017-10-13 05:46] jtopjian commented on #555
@dklyle Thank you for taking this on :)

I've never worked outside of the Default domain, but the API seems simple and straightforward. My understanding is that Projects can now also act as a domain if their `is_domain` attribute is set. Out of curiosity, are Projects now the recommended way of creating domains? If so, that doesn't lessen the importance of adding this feature - just asking more fo

[2017-10-13 13:54] dklyle commented on #555
That certainly is the direction Keystone has taken. And there is a partial implementation of hierarchical projects beyond that which is more reliant on the projects API. In my opinion, interacting with the domains API rather than the projects API has been more straightforward as the is_domain flag on projects was added later, but I have been using the domains API since before the great project/dom

[2017-10-14 04:42] jtopjian commented on #555
:tada:

[2017-10-14 04:42] #555 closed

[2017-10-14 21:49] jtopjian commented on #519
Implemented by #532

[2017-10-14 21:49] #519 closed

[2017-10-17 01:22] jtopjian opened #562 "DB v1: Refactor Acceptance Tests"
The DB tests should be checked for validity as well as rewritten similar to the other tests.

[2017-10-17 01:47] jtopjian commented on #562
Fixed by #563

[2017-10-17 01:47] #562 closed

[2017-10-18 13:33] nate-johnston commented on #551
I am waiting for approval from a core contributor before creating a PR.

[2017-10-18 13:34] nate-johnston commented on #549
I am waiting for approval from a core contributor before creating a PR.

[2017-10-18 14:03] jtopjian commented on #551
@nate-johnston Apologies - you're more than welcome to open a PR for this.

[2017-10-18 14:04] jtopjian commented on #549
@nate-johnston You're more than welcome to open a PR for this.

[2017-10-20 21:56] dongwoo1005 opened #566 "Identity v3: Add assigning role to user on project"
I need a support for assigning role to user on project: https://developer.openstack.org/api-ref/identity/v3/#assign-role-to-user-on-project
If nobody is working on it at the moment, I will make a PR for this.

I can start working on this first. Then I might as well add
- assign/unassign role to group on domain
- assign/unassign role to user on domain
- assign/unassign role to group on project
- as

[2017-10-20 23:58] dongwoo1005 commented on #566
I can start with this first. Then I might as well add
- assign/unassign role to group on domain
- assign/unassign role to user on domain
- assign/unassign role to group on project
- assign/unassign role to user on project
May I start working on this PR?

[2017-10-21 01:26] jtopjian commented on #566
@dongwoo1005 Thanks for offering. You're more than welcome to work on these items. Please make sure to open a separate PR for each one, though.

I'd also wait until #561 is merged before opening any PRs since you'll most likely need to rebase based on those changes.

[2017-10-22 04:35] dongwoo1005 commented on #566
Yep. I forked from dklyle:role-list and my implementation is complete.
As you said though, I need to wait for #561 to be merged for my acceptance test.
I'll make a PR once #561 is checked in.

[2017-10-23 02:48] jtopjian commented on #550
Implemented in #561

[2017-10-23 02:48] #550 closed

[2017-10-23 02:49] jtopjian commented on #566
@dongwoo1005 You are clear to go.

Please use some of the other Role Issues/PRs as templates for including all of the required information.

[2017-10-23 09:30] zimnx opened #567 "Gogland IDE internal directory is not ignored by git"

[2017-10-24 01:46] jtopjian commented on #567
Implemented in #568

[2017-10-24 01:46] #567 closed

[2017-10-24 02:54] yongfengdu commented on #378
@jtopjian , my-HenryS and I are in one team, and I asked my-HenryS to provide this patch.
Thanks for your review.

[2017-10-24 03:04] jtopjian commented on #378
@yongfengdu That's perfect - thanks :smile:

[2017-10-24 18:34] dklyle opened #571 "Identity v3 role C_UD"
- [x] Create (#572)
- [x] Delete (#577)
- [x] Update (#578)

Read was already covered by #550

API Docs:
https://developer.openstack.org/api-ref/identity/v3/#roles

Schema:
https://github.com/openstack/keystone/blob/stable/pike/keystone/assignment/role_backends/sql.py#L196
https://github.com/openstack/keystone/blob/stable/pike/keystone/assignment/role_backends/sql.py#L201

Create:
https://github.c

[2017-10-26 00:24] khdegraaf commented on #514
Thanks for the email.  This is fixed and working in my private repository.  Merging it into official build is currently lower priority, but actively being argued about (which you should know, since you are involved).

[2017-10-26 08:24] Crapworks opened #573 "Neutron Router: Enable/Disable SNAT"
Hi there,

I learned today that some OpenStack providers have SNAT disabled by default. Of course, I'd like to enable it, so I can actually access the internet from instances without attached floating IPs...

Gophercloud doesn't support this at the moment, because there is no `enable_snat` parameter for the `external_gateway_info` in the router resource. I am not very experienced with GO but as fa

[2017-10-27 02:26] jtopjian commented on #573
Implemented in #574

[2017-10-27 02:26] #573 closed

[2017-10-27 02:27] jtopjian opened #575 "Networking v2: Add SNAT to External Router Acceptance Test"
With #574 merged, the acceptance test should be updated.

[2017-10-27 02:34] jtopjian commented on #575
Implemented in #576

[2017-10-27 02:34] #575 closed

[2017-10-27 12:14] iaroslavscript opened #579 "add support for sort image new syntax"
Hi,
there is a new syntax for sorting images.
It makes it easier to sort by multiple keys.
https://specs.openstack.org/openstack/glance-specs/specs/api/v2/lists-image-api-v2.html
https://github.com/openstack/glance/blob/stable/pike/glance/api/v2/images.py#L683

[2017-10-28 01:46] jtopjian commented on #566
Implemented in #570

[2017-10-28 01:46] #566 closed

[2017-10-28 14:48] jtopjian commented on #579
Implemented in #580

[2017-10-28 14:48] #579 closed

[2017-10-28 15:17] jtopjian commented on #544
Implemented in #547

[2017-10-28 15:17] #544 closed

[2017-10-29 00:02] jtopjian commented on #571
:tada:

@dklyle Thank you very much for the work you've been doing.

[2017-10-29 00:02] #571 closed

[2017-10-29 05:20] dklyle opened #581 "Role assignment test needs update"
Older role assignment test structure does not match newer test structure in openstack/identity/v3. For consistency the test should be updated to match the newer format.

[2017-10-29 05:30] jtopjian commented on #581
Implemented in #582

[2017-10-29 05:30] #581 closed

[2017-10-31 19:45] dklyle commented on #385
@jtopjian I believe this can be closed.

[2017-11-01 00:00] jtopjian commented on #385
Yep, it sure can. Thanks, @dklyle.

[2017-11-01 00:00] #385 closed

[2017-11-01 01:14] dklyle opened #583 "Identity V3: Region CRUD"
- [x] List / Get (#584)
- [x] Create (#586)
- [x] Delete (#587)
- [x] Update (#594)

API:
https://developer.openstack.org/api-ref/identity/v3/#regions

Schema:
https://github.com/openstack/keystone/blob/2764b49bc209245276da31693ef31f1525cf17d8/keystone/catalog/backends/sql.py#L34
https://github.com/openstack/keystone/blob/2764b49bc209245276da31693ef31f1525cf17d8/keystone/catalog/schema.py#L22

Lis

[2017-11-01 04:20] chestack commented on #488
@pospispa , It's really helpful if GetServerMinMax(client) could get min/max microversions dynamically.

But until then Is it better to add microversion to the functions?(PR #585 ). It took me time to find out that I need set microversion to use GetExportLocations() and GrantAccess().

[2017-11-01 11:28] pospispa commented on #488
I'm sorry for that. The error message one gets while trying to use `GetExportLocations()` or `GrantAccess()`  is not very useful.

This issue is waiting for results from https://github.com/gophercloud/gophercloud/issues/441 design discussion.

[2017-11-02 11:00] awskii opened #588 "Objects v1: endless loop when perform objects.List on directory with subdirectories"
Hi.

When you have non empty directory with subdirectories, and specify Delimiter in options, you will have an endless loop because of endless asking server with `&marker=`.  Also we have empty names instead of `$(dirname)/`, e.g.: we have one directory in container on swift server and asking listing of directory and got next:
[code]
which reduces by Gophercloud to that:
[code]

last parameter ret

[2017-11-02 21:37] jrperritt opened #590 "feature request: octavia service client"
The Neutron Loadbalancers API will be deprecated sometime in the [near?] future, and Octavia is its replacement. I'm told the Octavia API is a superset of the Neutron one (namely, completely Neutron-compatible).

[2017-11-03 03:17] liu-sheng opened #592 "New CI system integration request"
I'd like to introduce a CI system which is built based zuul[1] and nodepool[2] tools, it is for running Gophercloud tests(both unit tests and acceptance tests) based on a devstack[3] environment. For now, my colleague and I have basicially finish the CI system building, and have tested with Gophercloud, it can work OK, please see[4]. We will long-term maintain the CI system and would like to propo

[2017-11-03 03:20] jtopjian commented on #592
@jrperritt This is the CI testing I mentioned to you about a few weeks ago.

I've been fielding some questions from this team and they're making great progress.

[2017-11-03 03:33] jrperritt commented on #592
Brilliant. This is very welcome. Feel free to submit a PR to add the .zuul.yaml file, and if you provide me (or @jtopjian ) with the pertinent webhook information, we'll get it added to the repo.

[2017-11-03 03:36] liu-sheng commented on #592
@jtopjian @jrperritt Thanks for all your support! will submit a PR to add the .zuul.yaml file and will send the webhook infomation :)

[2017-11-03 04:03] jtopjian commented on #590
Implemented in #591

[2017-11-03 04:03] #590 closed

[2017-11-03 04:15] animationzl commented on #592
@jtopjian @jrperritt I have sent an email about the webhook information to you, please let me know if you have the webhook added and we will double check then. Thanks for your support :)

[2017-11-03 18:18] jtopjian commented on #592
@jrperritt It doesn't look like I have the right level of privileges in the Gophercloud repo to do this. Did you receive the info via email? If not, I can forward to you.

[2017-11-03 18:35] jrperritt commented on #592
Oh, OK. I did get the email and just added the webhook

[2017-11-04 18:05] jrperritt commented on #470
closed by #471

[2017-11-04 18:05] #470 closed

[2017-11-04 18:07] jrperritt commented on #446
@jtopjian With #471 merging, it looks like all the referenced issues have merged. I think we can close this, but feel free to re-open if there's more to do. Thank you for all these docs

[2017-11-04 18:07] #446 closed

[2017-11-06 18:22] khdegraaf commented on #243
I am working on a fix (although in my private fork) for this problem.  Hopefully will have time to do PR in official repository in a couple weeks.

[2017-11-07 02:51] jtopjian opened #596 "Objects v1: API calls seem mixed up"
@jrperritt I'm digging into #588 and noticed that some of the object storage API calls seem mixed up.

The [API Reference](https://developer.openstack.org/api-ref/object-store/) shows that the "accounts" group of actions performs a List on containers, but in Gophercloud this functionality is in the `containers` package.

Similar, the "containers" group in the API reference has a List action which

[2017-11-07 03:10] jrperritt commented on #596
Exactly that. We're trying to go for readability: we decided it'd be weird if `containers.List` returned a list of objects. I think we may have discussed `containers.ListObjects` at the time, but maybe all the other list operations were just `List`, so consistency won out.

[2017-11-07 03:14] animationzl commented on #592
Thanks Jon, Joe

The webhook works properly, so do our ci system, which couldn't succeed without your help.

But there is another issue may need your help, since we need to report the check job status for each PR via a specific account, could you help add the account 'theopenlab-ci' as a collaborator to this project for access rights?

[2017-11-07 03:24] jrperritt commented on #592
Yes, I've just added that user as a collaborator with Read permissions.

[2017-11-07 04:29] jtopjian commented on #596
Makes sense to me. I'll leave this issue open until I add a note to the docs.

[2017-11-07 04:29] jtopjian commented on #588
@awskii I've pinpointed the problem and have a working solution here:

https://github.com/jtopjian/gophercloud/commits/objectsv1-subdir

Would you be able to test this and let me know if it works for you?

The above might not be a final version -- I think there's room for some improvement in my implementation, but it _should_ fix the problem.

Details of the problem: Gophercloud is not detecting t

[2017-11-07 05:58] jtopjian commented on #583
:tada:

Another resource added. Thank you, @dklyle!

[2017-11-07 05:58] #583 closed

[2017-11-07 22:08] yanndegat opened #599 "X-Static-Large-Object json unmarshalling"
the X-Static-Large-Object json unmarshalling is not working

mostly because openstack apis aren't consistent about the way they handle
boolean json marshalling.

More specifically, the objectstorage/v1/objects/*StaticLargeObject unmarshalling
strategies mplemented as of today are broken as the openstack v1 api returns strings representations of boolean, instead of native json boolean representatio

[2017-11-07 22:15] yanndegat opened #600 "objectstorage/v1/objects etag auto computed value"
@jtopjian : The autocomputed etag value should be optionnally set by the end user, not the lib.
The computed value based on the content of the body is wrong in some usecases

cf : https://docs.openstack.org/swift/latest/api/large_objects.html

"etag (optional). If provided, this value must match the ETag of the segment object. This was included in the response headers when the segment was created.

[2017-11-07 22:15] yanndegat commented on #600
@jtopjian

[2017-11-08 02:14] jrperritt commented on #375
closed by #536

[2017-11-08 02:14] #375 closed

[2017-11-08 05:52] yanndegat commented on #599
hi @jtopjian,

fact is: i cannot spend more time on this.
i was adding the object resource in the terrarform openstack based on this
lib, and adding acceptance tests on all the input parameters as you
suggested on the PR.
i was just "almost there" until i hit issues with the "multipart_manifest"
swift feature, because of the way the lib handles the etag input parameter
and the way it parses the st

[2017-11-08 06:02] yanndegat commented on #599
@jtopjian:

https://github.com/openstack/swift/blob/2596b3ca9dbde65fc5f117ea375ae56994be18c8/swift/common/middleware/slo.py#L205

-yann

On Wed, Nov 8, 2017 at 6:52 AM, DEGAT Yann <yann.degat@gmail.com> wrote:

[2017-11-08 13:05] awskii commented on #588
Ok, i will test it.

[2017-11-08 14:43] sb10 opened #601 "How to get the reason for a failed servers.Create?"
I currently do something like:

    server, err := servers.Create(p.computeClient, keypairs.CreateOptsExt{
        CreateOptsBuilder: createOpts,
        KeyName:           resources.ResourceName,
    }).Extract()
    if err != nil {
        return
    }

    // in a go routine (code simplified)
    for {
        select {
        case <-ticker.C:
            current, err := servers.Get(p.computeCl

[2017-11-08 22:06] jtopjian commented on #599
I hate to nit-pick, but docs can't be used as reference :(

Gophercloud is a bit strict with this sort of thing so tools like Terraform can be written easily.

That is absolutely no problem at all. Please don't feel like because you reported a bug you are now responsible for fixing it. The guidelines I gave were if you wanted to look into fixing this. I am more than happy to do this, but it might

[2017-11-08 23:45] jtopjian commented on #441
I wanted to give a quick update on this. Unfortunately it's "a good solution still hasn't been identified".

Apologies if I'm speaking out of turn on @jrperritt's behalf, but he did mention that he's tried a few ideas, but they didn't pan out. So he hasn't been ignoring this issue. :)

Sometimes it's quite healthy to take a break from a difficult problem -- it's often that you'll see an entirely n

[2017-11-09 09:00] yanndegat commented on #599
well, you do pit-nick :)) i've been bitten by this "True" string during api calls, plus the doc in the py file.

first have a look at this method :
https://github.com/openstack/swift/blob/master/swift/common/utils.py#L362

second: have a look at the line of the beast

https://github.com/openstack/swift/blob/2596b3ca9dbde65fc5f117ea375ae56994be18c8/swift/common/middleware/slo.py#L666

[2017-11-09 09:35] awskii commented on #588
All my integration tests has passed.

[2017-11-09 09:38] awskii opened #602 "Does gophercloud support additional headers?"
In my case i should pass to server X-Forwarded-For header with different ip (not gophercloud node). Is there proper way to do it?

[2017-11-09 21:08] idrarig opened #603 "Cannot retry object storage requests with raw body"
At this line the `io.Seeker` interface is used (if implemented) to rewind the request body: https://github.com/gophercloud/gophercloud/blob/master/provider_client.go#L219

However, the `io.Reader` returned at https://github.com/gophercloud/gophercloud/blob/master/openstack/objectstorage/v1/objects/requests.go#L191 is not an `io.Seeker`, hence requests retried after re-authentication fail with erro

[2017-11-10 02:30] jtopjian commented on #603
@jrperritt If you're familiar with this area, do you mind taking a look? If not, I can make some time to verify.

[2017-11-10 03:17] jtopjian commented on #602
There's probably a few ways to do this. I should mention that I might be wrong and if I am maybe @jrperritt can correct me.

The FAQ has an entry about how to [implement logging and re-auth](https://github.com/gophercloud/gophercloud/blob/master/FAQ.md#implementing-default-logging-and-re-authentication-attempts). This should also work for adding a custom header. Searching for documentation about `

[2017-11-10 03:54] jtopjian commented on #599
I believe this is exactly what we're looking for. Thank you for digging into this. I know how difficult and onerous it can be.

So with this in mind, I think adding a string-to-bool conversion in the object's existing `UnmarshalJSON` method is still the best way to go. Like I mentioned before you'll probably want to do a type check to see if the result is both bool and string, similar to what is b

[2017-11-10 04:28] jtopjian commented on #588
@awskii That's great news. I updated my branch with a cleaner function to check for the marker. When you have time, can you test once more? If it works, I will open a PR for review.

[2017-11-10 07:40] armstrongli commented on #232
@jrperritt Please reopen  this issue as the root cause is found and fixed in this PR: https://github.com/gophercloud/gophercloud/pull/604

[2017-11-10 15:07] #602 closed

[2017-11-10 15:08] awskii commented on #588
@jtopjian Seems like works fine, nothing has been broken.

[2017-11-10 18:59] jrperritt commented on #232
Looking now

[2017-11-10 19:16] jrperritt commented on #232
closed by #604

[2017-11-10 19:16] #232 closed

[2017-11-11 00:04] dklyle opened #605 "Incomplete Identity v3 services API support"
- [x] Create (#610)
- [x] Update (#611)
- [x] List (#612)

Looking at https://developer.openstack.org/api-ref/identity/v3/#service-catalog-and-endpoints

The implementation for `Create` and `Update` services are incomplete in the options that are provided.
The schema https://github.com/openstack/keystone/blob/master/keystone/catalog/backends/sql.py#L53
supports `id`, `type`, `enabled`, and `extra`

[2017-11-11 02:48] jtopjian commented on #605
Thank you for pointing this out.

Regardless of the reason this happened (simple oversight, `type` being the only settable attribute at the time, etc), IMO, the best solution is to rewrite the function to use the standard `CreateOpts` and `UpdateOpts` pattern. This is a breaking change, but I think it's acceptable here. It should be a one-time thing and doing this will ensure future attributes can

[2017-11-11 03:05] jtopjian commented on #588
Perfect. Thank you so much for testing.

[2017-11-11 03:17] jtopjian commented on #601
@sb10 Sorry for the late reply, I somehow missed this one.

I believe this issue is the same (or similar) to https://github.com/gophercloud/gophercloud/issues/243. This is probably the last area of Gophercloud I haven't familiarized myself with, so I can't say for certain if there's a workaround or how to best fix this.

I'm going to close this one in favor of #243, but opening this has renewed my

[2017-11-11 04:51] dklyle commented on #605
That's how I interpret it. Once I code it up, I will know for sure. But the python kwargs look like the mechanism `description` and `name` are passed through. Seems strange for keystone to call out optional `extra` fields specifically in the API docs, but that seems like what they've done.

[2017-11-11 06:38] sb10 commented on #601
No, I think #243 would be an error returned by the api, eg. in my above code it I would capture that error on line 6.

I'm talking about a _successful_ `servers.Get(`) call that that has .Status == "ERROR", but no explanation of the error.

At the bottom of https://developer.openstack.org/api-guide/compute/faults.html you can see an example "faults" section that has the information I'd like to see

[2017-11-11 07:11] jtopjian commented on #601
Ah, I see.

When you do `nova --debug show <uuid>`, what's the field that contains the details of the error?

[2017-11-11 08:00] sb10 commented on #601
The field is called 'fault', here's an example:

[2017-11-11 08:06] jtopjian commented on #601
Can you confirm the field is called `fault` in the JSON output? Are you able to paste the full response body?

[2017-11-11 08:08] sb10 commented on #601
DEBUG (session:419) RESP: [200] Content-Type: application/json Content-Length: 1590 X-Openstack-Nova-Api-Version: 2.12 Vary: X-OpenStack-Nova-API-Version X-Compute-Request-Id: req-5725183b-7b6a-4526-ad95-13fe494841e9 Date: Sat, 11 Nov 2017 07:59:05 GMT
RESP BODY: {"server": {"status": "ERROR", "updated": "2017-11-11T07:58:39Z", "hostId": "", "addresses": {}, "links": [{"href": "http://172.27.66.32

[2017-11-11 08:09] jtopjian commented on #601
Perfect - thanks :)

There indeed looks to be a field called `fault`. I'll do some digging and see if I can find more about this.

[2017-11-12 01:47] sb10 commented on #601
@jtopjian For some reason I can't comment on the #607, but it works great, thank you.

[2017-11-12 04:38] jtopjian commented on #601
Nice. Thank you for testing.

[2017-11-12 17:44] jrperritt commented on #603
@idrarig That change looks good. Feel free to send a PR

[2017-11-13 07:52] idrarig commented on #603
Thanks! I'll do that in a week when I'm back... I haven't looked into
testing this though...

On Nov 12, 2017 6:45 PM, "Jon Perritt" <notifications@github.com> wrote:

[2017-11-13 10:57] #601 closed

[2017-11-14 02:24] yongfengdu opened #608 "acceptance test fail for TestImagesListAllPages"
FAIL when running on latest devstack
go test -v -tags "fixtures acceptance" ./acceptance/openstack/imageservice/v2/

=== RUN   TestImagesListAllPages
--- FAIL: TestImagesListAllPages (0.16s)
        images_test.go:52: Unable to retrieve all images: Resource not found

[2017-11-14 02:28] yongfengdu commented on #608
g-api logs:
127.0.0.1:80 10.0.0.42 - - [14/Nov/2017:02:16:56 +0000] "GET /image/v2/images?limit=1 HTTP/1.1" 200 979 "-" "gophercloud/2.0.0"
127.0.0.1:80 10.0.0.42 - - [14/Nov/2017:02:16:56 +0000] "GET /image/v2/images?limit=1 HTTP/1.1" 200 979 "-" "gophercloud/2.0.0"
127.0.0.1:80 10.0.0.42 - - [14/Nov/2017:02:16:56 +0000] "GET /v2/images?marker=4c0831bd-cc95-440d-86ed-d07bce92ea5f&limit=1 HTTP/1.1

[2017-11-14 02:33] yongfengdu commented on #608
The correct URL should be  /image/v2/images, but the wrong URL /v2/images is passed to glance API, so get 404 error.

further debugging shows that the nextPageURL is wrong value.
Previous the g-api url is http://host:9292, but new devstack is using http://host/image
The glance client dropped the /image value and get wrong URL.
*net/url.URL {
        Scheme: "http",
        Opaque: "",
        User

[2017-11-14 15:58] jtopjian commented on #104
Implemented in https://github.com/gophercloud/utils/pull/2

[2017-11-14 15:58] #104 closed

[2017-11-15 01:52] dlipovetsky opened #609 "Fix openstack NewClient to not remove relative paths from IdentityBase"
A [PR with the fix](https://github.com/rackspace/gophercloud/pull/582) for this was merged to rackspace's gophercloud fork in 06/2016, but the commit was not merged to this fork.

I use the Kubernetes OpenStack cloud provider, which uses this fork, and as a result I can't deploy Keystone at a relative URL.

I'd love to get some feedback on this. Thanks!

[2017-11-15 02:45] jtopjian commented on #609
@dlipovetsky I believe #508 should have fixed this. Can you confirm if it's still not working? If it's not, can you provide the URL that is failing?

[2017-11-15 03:18] jtopjian commented on #608
@yongfengdu Thank you for reporting this.

I think the correct long-term fix for this will be to use the URL retrieved from the session/token service catalog. Researching how to do this for all service types has been in the back of my head for a while now, but this might now have more of a priority.

[2017-11-16 21:07] dklyle commented on #605
After testing and working on this, `description` and `name` are indeed stored in `extra`. Even more fun is that `name` is a supported filter which I tested and it works.

[2017-11-17 02:04] dklyle commented on #608
@jtopjian I did the code for consuming the service endpoints from the service catalog in Horizon if you would  like someone to help or just to bounce ideas off of.

[2017-11-17 02:11] zengchen1024 opened #613 "BuildQueryString does not build map type data structure"
For the codes at https://github.com/gophercloud/gophercloud/blob/master/openstack/blockstorage/v2/volumes/requests.go#L85-L100. The value of 'r' in the following codes will be wrong.
opt := ListOpts{
    Metadata: map[string]string{"a":"b", }
    Name: "test"
}
r, _ := opt.ToVolumeListQuery()
r is "?name=test" , but the expect value is "?metadata=%7B%27a%27%3A%27b%27%7D&name=test". The reason is B

[2017-11-17 02:50] jtopjian commented on #608
Oh cool. I've had a few things come up today that'll delay me working on this by a few days. If you'd like to take a run at it, go for it.

[2017-11-17 03:02] jtopjian commented on #549
Implemented in #564

[2017-11-17 03:02] #549 closed

[2017-11-17 03:12] jtopjian opened #614 "Compute v2: Rename IP and RAM quota fields"
During review of #564, I noticed that the IP and RAM fields were named awkwardly. It was out of scope to rename them during that PR, so I'm going to submit a new PR to fix this up.

[2017-11-17 05:50] yongfengdu commented on #608
Similar failure for the identity/v2 test cases.
Should be /identity/v2.0/tenants but the URL is /identity/tenants, so get a resource not found error.
This caused acceptance/openstack/identity/v2 and part of compute/v2 test failures.
Although I don't know whether we still need to support the v2.0 API for new version OpenStack

[2017-11-17 14:46] jtopjian commented on #614
Fixed in #615

[2017-11-17 14:46] #614 closed

[2017-11-20 01:45] armstrongli commented on #310
We got the same issue in our production when there're multiple go routines sending requests at the same time. And we have a serious problem that if one of the openstack service is unstable, this client sends infinite re-auth to keystone.

[2017-11-20 02:30] TommyLike commented on #613
This looks like a valid issue. Does it exist in other commands? Cinder have other APIs that support key&value filters.

[2017-11-20 02:34] TommyLike opened #618 "Volume V3: Support Required"
As the V2 [APIs](https://developer.openstack.org/api-ref/block-storage/v2/) are marked deprecated, is there any plan to support Volume V3 API?

[2017-11-20 02:37] jtopjian commented on #613
I apologize for the late reply. I looked into this the other night but forgot to follow up.

The fact that `BuildQueryString` does not support maps is indeed a valid problem. I'm not sure when I will have time to look into this, but if someone wanted to work on it, I would be happy to review.

It's also probably best to point out where in the Cinder API maps/hashes are supported for list operation

[2017-11-20 02:39] jtopjian commented on #618
@TommyLike Yes, support for v3 is in progress.

There are a few issues/PRs already opened for v3 support:

https://github.com/gophercloud/gophercloud/issues/305
https://github.com/gophercloud/gophercloud/issues/412
https://github.com/gophercloud/gophercloud/pull/415

Because of the already opened issues, I am going to close this one, but please let me know if you have any questions.

[2017-11-20 02:39] #618 closed

[2017-11-20 06:47] TommyLike commented on #618
Oh, @jtopjian don't need to, thanks!

[2017-11-20 20:15] jrperritt commented on #310
I'll commit to thinking about this, but not necessarily to doing anything about it. Gophercloud's view on this is that concurrency should be handled in the application.

@armstrongli A gist of some logs would be helpful. You've claimed that Gophercloud is causing your issues (and it may well be), but you haven't provided any proof.

[2017-11-21 00:13] dlipovetsky commented on #609
@jtopjian You are right. I cannot reproduce the issue with the changes in #508, but I can reproduce it at 2804b72,  the parent of the changes in #508. Thanks for pointing out the PR!

For others' reference, this issue is fixed in the Kubernetes OpenStack cloud provider in 1.9:
[Kubernetes 1.8 uses](https://github.com/kubernetes/kubernetes/blob/release-1.8/Godeps/Godeps.json#L1625) 2bf16b9, which d

[2017-11-21 00:14] #609 closed

[2017-11-21 09:41] stone opened #620 "Adding support for ipv6_address_mode and ipv6_ra_mode for a subnet"
I intend to make a PR with adds support for IPv6 Stateless Address Autoconfiguration (SLAAC), Stateful DHCPv6, and Stateless DHCPv6 for a subnet.  By adding the following fields (with links to openstack/neutron code)

-  [ipv6_ra_mode](https://github.com/openstack/neutron/blob/8e9959725eda4063a318b4ba6af1e3494cad9e35/neutron/objects/subnet.py#L190)
- [ipv6_address_mode](https://github.com/openstac

[2017-11-21 09:45] stone opened #621 "Add support for availability_zone_hints to a network"
This will allow users to associate an availability zone with their resources so that the resources get high availability. Which is missing.

I intend to make a PR with adds support for setting availability_zone_hints to a network.
By adding the following fields (with links to openstack/neutron code)

- [availability_zone_hints](https://github.com/openstack/neutron/blob/8e9959725eda4063a318b4ba6af1

[2017-11-21 09:48] stone opened #622 "Adding support for setting availability_zone_hints to a router"
This will allow users to associate an availability zone with their resources so that the resources get high availability. Which is missing.

I intend to make a PR with adds support for setting availability_zone_hints to a router.
By adding the following fields (with links to openstack/neutron code)

- [availability_zone_hints](https://github.com/openstack/neutron/blob/8e9959725eda4063a318b4ba6af1e

[2017-11-21 11:58] swapnilgm opened #623 "Q. Releases, roadmap and documentation fo supported features and limitation"
Hi,
I came to this branch from [rackspace/gophercloud](https://github.com/rackspace/gophercloud). There we already have a release. Do you have any plan and roadmap that when are you going to release this? What is current status of project using this as client library in production environment?

Since gophercloud sounds to more recommended go client for OpenStack, are there any plans to take this p

[2017-11-21 14:59] armstrongli commented on #310
@jrperritt There's one case that there're 100(e.g.) go routines do requests, and token gets expired, and go routines start doing reauth. the shared client token is updated by different go routines at different time without any thread safe mechanism.
Here is one case which causing issues: routine A starts sending service request after `reauth`; routine B start reauth as the previous call failed wit

[2017-11-21 16:04] jrperritt commented on #310
@armstrongli Yes, I understand what the code does; I asked for the logs that show what you're describing. Either way, as I mentioned above, all that synchronization can and should be handled in your application.

[2017-11-22 07:36] armstrongli commented on #310
The logs show that there're a lot of reauth when the token gets expires. There should be only one reauth.

[code]

It is supposed to have only one time reauth.

[2017-11-24 04:35] jtopjian commented on #605
@dklyle Thank you for fixing this up :)

[2017-11-24 04:35] #605 closed

[2017-11-24 05:00] jtopjian opened #625 "Compute v2: Flavor Result `is_public` is incorrect"
The current `flavors.Flavor` result has the [`IsPublic`](https://github.com/gophercloud/gophercloud/blob/89881f8ce3ec9fe2aa2a846716dd2315aba0ffb3/openstack/compute/v2/flavors/results.go#L68) field looking for the JSON field `is_public` when it should be `os-flavor-access:is_public`:

https://github.com/openstack/nova/blob/1878039f8fcf757651c7923910a253f187891576/nova/api/openstack/compute/views/fl

[2017-11-25 16:18] jtopjian commented on #613
Implemented in #619

[2017-11-25 16:18] #613 closed

[2017-11-27 09:33] TommyLike opened #627 "Query parameter 'tenant' is missing from volume&snapshot API"
'tenant' is required in a multi-tenant environment.

[2017-11-27 09:43] TommyLike commented on #627
First commit to gophercloud. I am not sure whether I need update testcases for this change :confused:

[2017-11-27 21:04] obedmr opened #629 "Wrong status result in Resize function comment"
According to https://developer.openstack.org/api-guide/compute/server_concepts.html
Once resize is finished the status of an instance should be on ``VERIFY_RESIZE `` instead of ``RESIZE_VERIFY ``:
https://github.com/gophercloud/gophercloud/blob/master/openstack/compute/v2/servers/requests.go#L518

[2017-11-28 03:04] jrperritt commented on #629
closed by #630

[2017-11-28 03:04] #629 closed

[2017-11-28 03:04] jrperritt commented on #625
closed by #626

[2017-11-28 03:04] #625 closed

[2017-11-28 03:07] jrperritt commented on #592
I think we can close this since the CI system appears to be working. Feel free to comment here if this should be reopened.

[2017-11-28 03:07] #592 closed

[2017-11-28 03:11] jrperritt commented on #531
closing this as resolved

[2017-11-28 03:11] #531 closed

[2017-11-28 03:26] jrperritt commented on #461
closed by #462

[2017-11-28 03:26] #461 closed

[2017-11-28 05:02] jtopjian commented on #627
Implemented in #628

[2017-11-28 05:02] #627 closed

[2017-11-28 08:07] TommyLike opened #632 "Extend volume is unavailable"
Extend volume action is missing both in blockstorage's V2&V3 APIs.

[2017-11-28 12:16] TommyLike opened #634 "Force delete is not supported in volume V2&V3 APIs"
Action **force_delete**  is not supported in volume V2&V3 APIs.

[2017-11-29 07:14] tatsuhiro-t commented on #310
Currently, when our system need to access OpenStack, it create new ProviderClient using openstack.AuthenticatedClient, and do its job.  But it is not efficient if we have hundreds of concurrent jobs doing those stuff.  Each time, we create new ProviderClient, keystone creates new token.  Those tokens pile up, and pressures database.
We are now considering to share ProviderClient between goroutine

[2017-11-29 15:32] jrperritt commented on #310
@tatsuhiro-t Good question. In general, things that an application wants to control around the HTTP client can be customized similar to how it's done in the [FAQ](https://github.com/gophercloud/gophercloud/blob/master/FAQ.md#implementing-default-logging-and-re-authentication-attempts ).

However, after considering this particular use-case of concurrency, I've decided that this is probably somethin

[2017-11-29 18:44] j-griffith commented on #632
Thanks @TommyLike to be clear I don't think gophercloud should try and implement every Cinder feature.  Also, we should avoid anything that isn't clearly supported by all backend devices in my opinion.

Extend makes sense to add, but I also think it's important that we select things wisely and avoid having a ton of micro-versions to maintain and deal with here.

[2017-11-29 20:05] jtopjian commented on #632
This is a good point. While I don't want to make a firm decision here, I'm inclined to agree with this solely on the basis that we couldn't confidently test the implementation. It should be easy enough for a vendor to create a Gophercloud-compatible package that implements the third-party driver.

Another good point. I haven't looked into these PRs in detail yet, but my (perhaps too lazy?) strateg

[2017-11-30 03:00] tatsuhiro-t commented on #310
@jrperritt Thank you.  I'm looking forward to the PR.

[2017-11-30 03:20] jrperritt commented on #588
closed  by #606

[2017-11-30 03:20] #588 closed

[2017-11-30 06:02] jtopjian commented on #632
As mentioned in #633, this is already implemented:

https://github.com/gophercloud/gophercloud/blob/master/openstack/blockstorage/extensions/volumeactions/requests.go#L192-L223

And again, I apologize for not catching this sooner.

[2017-11-30 06:02] #632 closed

[2017-11-30 17:42] jrperritt commented on #310
closed by #636

[2017-11-30 17:42] #310 closed

[2017-12-01 03:11] jtopjian commented on #634
Implemented in #635

@TommyLike Thank you for adding this. :)

[2017-12-01 03:11] #634 closed

[2017-12-01 03:27] jtopjian opened #637 "AccTests: Add Test for BlockStorage ForceDelete"
With #635 merged, an acceptance test should be added.

[2017-12-01 03:44] TommyLike opened #640 "Redundant actionURLs are defined in the volumeactions"
Volume actions' url is always in the format of: /{project}/volumes/{volume_id}/action, there is no need
to define new xxxxURL individually.

[2017-12-01 03:56] jtopjian commented on #637
Implemented in #635

[2017-12-01 03:56] #637 closed

[2017-12-02 13:20] ozerovandrei opened #641 "Compute v2: Add ability to attach, detach and show a port for the given server"
Nova's os-interface extension provides the ability to manage server's interfaces.
Currently the gophercloud can only be used for list server interfaces action via the **compute/v2/extensions/attachinterfaces** extension.

I intend to make several PRs that add support for the attach, detach and show actions for the os-interface.

Doc-reference: https://developer.openstack.org/api-ref/compute/#port-

[2017-12-02 16:00] jtopjian commented on #641
@ozerovandrei Thank you for submitting this work. I've left review comments on all three.

Overall, this is _really_ good work and is really appreciated - thank you very much :)

[2017-12-02 19:53] mlowery opened #645 "Deadlock on reauth"
Perhaps introduced in #636, I think I'm seeing a deadlock. See [unit test](https://gist.github.com/mlowery/b44c5757485bcecffb9493804d3584e2) that demonstrates the issue (it never returns).

I think it's because during reauth, we're holding the [writer lock](https://github.com/gophercloud/gophercloud/blob/36c5f2c8d78de24fc1325f4b2044b46d4763cb42/provider_client.go#L242) but in `Request`, we ask for

[2017-12-02 21:18] jrperritt commented on #645
Yep, that's exactly what it is.

This is all discussed in #636 . But yes, we don't want to expose the lock right now.

Thank you for reporting this. I've created a PR (#646) to address this.

[2017-12-03 23:43] eugenetaranov opened #647 "Configuration group time parsing error"
Hello,

currently database configuration group creation throws an error failing at timestamp parsing https://github.com/gophercloud/gophercloud/blob/master/openstack/db/v1/configurations/results.go#L12-L13:
`Error: parsing time ""2017-12-03T23:28:09"" as ""2006-01-02T15:04:05Z07:00"": cannot parse """ as "Z07:00"`

Example code:
[code]

[2017-12-05 01:54] TommyLike opened #649 "Add volume type support in blockstorage resource"
- [x] read (#657)
- [x] create (#654)
- [x] update (#656)
- [x] delete (#655)
- [ ] encryption
- [x] extra specs

[2017-12-05 02:00] jrperritt commented on #640
closed by #639

[2017-12-05 02:00] #640 closed

[2017-12-05 02:21] jtopjian commented on #649
There's a group of API calls which manage volume types, so I think it is suitable.

https://developer.openstack.org/api-ref/block-storage/v3/index.html#volume-types-types

[2017-12-05 02:28] jtopjian commented on #641
Thank you for adding support for this :)

[2017-12-05 02:28] #641 closed

[2017-12-05 02:29] jtopjian opened #650 "Compute v2: attachinterfaces acceptance test"
With #641 merged, we should add an acceptance test for the interface CRUD functionality.

[2017-12-05 03:32] jtopjian commented on #650
Implemented in #651

[2017-12-05 03:32] #650 closed

[2017-12-05 04:13] jtopjian commented on #647
Implemented in #648

[2017-12-05 04:13] #647 closed

[2017-12-06 03:40] shiftky opened #658 "Compute v2: Support OS-EXT-STS attributes"
Compute v2 API [/servers/detail](https://developer.openstack.org/api-ref/compute/#list-servers-detailed) supports the extended status information:

[code]

But currently gophercloud does not support these attributes.
I think these attributes could be useful.

[2017-12-07 19:53] jtopjian commented on #620
Implemented in #660

[2017-12-07 19:53] #620 closed

[2017-12-07 21:13] jtopjian commented on #621
Implemented in #662

[2017-12-07 21:13] #621 closed

[2017-12-08 02:53] jtopjian commented on #658
Implemented in #659

[2017-12-08 02:53] #658 closed

[2017-12-08 08:53] liu-sheng opened #663 "TestNetworksProviderCRUD run failed"
When try to run the Acceptance tests of networking v2 extensions API, it raised an error, seems because the *provider.ExtractGet* function is undefined.

related logs:

$ go test -v -tags "fixtures acceptance" github.com/gophercloud/gophercloud/acceptance/openstack/networking/v2/extensions -list "Test"
acceptance/openstack/networking/v2/extensions/provider_test.go:29:21: undefined: provider.Extrac

[2017-12-08 09:45] liu-sheng opened #665 "Test TestPortsbindingCRUD run failed"
Similar to issues #663 , there is also a error when run the test TestPortsbindingCRUD .
see:
go test -v -tags "fixtures acceptance" ./acceptance/openstack/networking/v2/extensions/portsbinding/ -list "Test"

acceptance/openstack/networking/v2/extensions/portsbinding/portsbinding_test.go:52:18: undefined: portsbinding.Update

[2017-12-08 15:53] jtopjian commented on #663
Thank you for catching these. The network and port resources had some extension work done to them a while back and the acceptance tests were never modified to account for it.

[2017-12-08 15:53] #663 closed

[2017-12-08 15:54] #665 closed

[2017-12-08 16:23] jrperritt commented on #663
@jtopjian Isn't the TOL testing intended to catch things like this?

[2017-12-08 16:31] jtopjian commented on #622
Implemented in #667

[2017-12-08 16:31] #622 closed

[2017-12-08 16:31] jtopjian commented on #663
Yes, but I believe only a selective set of tests are being run. The TOL team is probably looking at expanding the set and are catching issues like this.

[2017-12-08 16:35] jrperritt commented on #663
Ah, gotcha. Additionally, they may only be running the tests that have changed (or, better, the tests that use a package that's changed), which would be reasonable

[2017-12-09 04:58] mlowery commented on #645
@jrperritt: In this [file](https://gist.github.com/mlowery/4d84dc0140c346c855ddc79be0e05cab), there are two tests. The first test shows a deadlock on a recursive reauth (by triggering the 401 to start a reauth then returning 401 from that reauth) with just `AllowReauths=true`. (In other words, the lock is already held in response to first 401 and another lock is attempted in response to the second

[2017-12-09 06:47] jrperritt commented on #645
I see. Trying to shim in concurrency in a backward-compatible hasn't gone well for me.

Because we actually _do_ intend to repeatedly retry the request by default. This behavior can (and is intended to) be modified by setting a custom `HTTPClient` in the `ProviderClient`. It's also in the [FAQ](https://github.com/gophercloud/gophercloud/blob/master/FAQ.md#implementing-default-logging-and-re-authen

[2017-12-09 07:26] jrperritt commented on #645
Thinking about this some more, I think I misunderstood what you meant. Looking at your test more closely, I think using the throwaway client does seem more reasonable. If you'd like to send a change for implementing that, please go ahead.

[2017-12-09 22:16] mlowery commented on #645
@jrperritt: First of all, thanks for this discussion and this library.

For me, the recursion itself (or rather the possibility of infinite recursion) is the surprising part. In my usage of this library, I have a work queue with backoffs such that if the client returns any error at all, it will be put back into the queue with a backoff and retried at some point in the future. I think this is a cho

[2017-12-09 23:09] jrperritt commented on #645
Yes, that's right. To be clear, I'm OK with removing any recursive HTTP calls where possible.

That's a fair point; I can imagine cases where it _could_ be desired (maybe waiting for an OpenStack environment to be properly setup), but I agree with you: for reauth, it's probably rarely what we want. Even in that contrived case, all that logic could be handled in application code.

[2017-12-13 21:01] jtopjian opened #668 "Docs: Updating Contributing and Style Guides"
I have a few updates in mind for these guides which might be helpful.

[2017-12-13 21:45] jtopjian commented on #623
@swapnilgm I very much apologize for the late reply about this. One reason for the delay is that there are some current internal discussions about releases, but nothing has been finalized yet.

In the meantime, you can use Gophercloud in combination with a Go vendor tool (such as the official `dep` or something like `govendor`) to pin your application to a specific commit.

It's very stable to use

[2017-12-14 01:52] liu-sheng opened #670 "build failed of TestShareTypeExtraSpecs test of shared file system v2 API"
A syntax error occurred when listing the tests of shared file system v2 API. see:

go test -v -tags "fixtures acceptance" ./acceptance/openstack/sharedfilesystems/v2  -list "Test"

acceptance/openstack/sharedfilesystems/v2/sharetypes_test.go:73:8: unknown field 'Specs' in struct literal of type sharetypes.SetExtraSpecsOpts

[2017-12-14 02:22] jtopjian commented on #670
Fixed in #671

[2017-12-14 02:22] #670 closed

[2017-12-14 02:23] jtopjian commented on #668
Implemented in #669

[2017-12-14 02:23] #668 closed

[2017-12-14 13:08] swapnilgm commented on #623
@jtopjian Thank you for the details.

Still, it would be really nice to see in future, the documented hints of roadmap and feature list, may be in the form of regularly updated change-log.

[2017-12-14 13:08] #623 closed

[2017-12-15 14:11] louis-gounot opened #672 "[Enhancement] Add support for subnet pools on OpenStack"
Hello,

Would it be posible to add subnet pools support for OpenStack networking.

Documentation is available here :
- https://docs.openstack.org/neutron/pike/admin/config-subnet-pools.html (general presentation)
- https://developer.openstack.org/api-ref/network/v2/index.html#subnet-pools-extension-subnetpools (API spec)

It will also impact subnet management as subnet pool extension allows to cre

[2017-12-15 14:13] louis-gounot commented on #672
Main use case is for private clouds (on premise cloud) where addressing plan consistency is quite usefull.

Secondary use case is the use of "address scope" extension which allows direct connectivity between tenants without SNAT/FIP NAT when tenants are in the same address scope (a bit like VPC peering on AWS).

[2017-12-15 23:08] jtopjian commented on #672
This is certainly an applicable feature to add. If you would be interested in adding this, take a look at our [contributing guide](https://github.com/gophercloud/gophercloud/blob/master/.github/CONTRIBUTING.md). But if you aren't interested (which is fine), I'll leave this issue opened until the feature is added.

[2017-12-15 23:35] jtopjian opened #673 "Add Thank Yous to README"
With the recent help offered from OpenLab and VEXXHOST, we should update the README with appreciation for this.

[2017-12-17 21:31] dims commented on #343
Hey @lbragstad, what do you think of this?

[2017-12-18 15:47] lbragstad commented on #343
The version should be discoverable using `GET /v3` [0]. That should help determine which representation of region to use. Are you seeing specific issues or confusing using ``region`` or ``region_id`` with the endpoints resource?

[0] https://github.com/openstack/keystone/blob/017b3477fdc3922f7a0ea0db420f3ed1df55b386/keystone/version/controllers.py#L144

[2017-12-19 02:18] TommyLike opened #676 "Pagination support is missing in volume and snapshot resources."
Pagniation is supported in blockstorage's [volume ](https://developer.openstack.org/api-ref/block-storage/v3/#list-accessible-volumes-with-details) and [snapshot ](https://developer.openstack.org/api-ref/block-storage/v3/#list-snapshots-and-details) resources.

[2017-12-19 02:34] TommyLike opened #677 "Acceptance testcase is missing from blockstorage V3 volume&snapshot resources"
Acceptance testcase is missing from blockstorage V3 [volume&snapshot resources](https://github.com/gophercloud/gophercloud/tree/master/acceptance/openstack/blockstorage/v3)

[2017-12-20 02:22] jtopjian commented on #677
Implemented in #680 and #681

Thanks, @TommyLike :)

[2017-12-20 02:22] #677 closed

[2017-12-20 02:34] TommyLike opened #683 "Incorrect variable names are used in volume type acceptance testcases"
See [here](https://github.com/gophercloud/gophercloud/blob/master/acceptance/openstack/blockstorage/v3/volumetypes_test.go#L29)

[2017-12-20 02:36] jtopjian commented on #683
Fixed in #682

[2017-12-20 02:36] #683 closed

[2017-12-20 23:14] dklyle commented on #540
I haven't seen any progress on this. @ss22ever, if you are still working on this let me know. I've just done the List / Get part for now, but can finish the rest shortly.

[2017-12-21 03:04] jtopjian commented on #676
Implemented in #678 and #679

[2017-12-21 03:04] #676 closed

[2017-12-22 11:21] ildarsv commented on #526
@jaypipes @jtopjian Hello! Do you know, does anybody work on Nova host aggregates stuff? If not, let me do it, I'll create a separate issue.

[2017-12-22 14:52] jaypipes commented on #526
On 12/22/2017 06:21 AM, Ildar Svetlov wrote:

Apologies, Ildar, I have not yet had any time to do this. :( If you have
time, please do feel free to take it on.

Best,
-jay

[2017-12-25 13:31] ildarsv opened #690 "Support host aggregates"
There is no support of the Nova host aggregates in the gophercloud.

[2017-12-25 13:55] ildarsv commented on #690
#691

[2017-12-26 08:01] liu-sheng opened #692 "Orchestration acceptance tests has been broken"
When try to run the Orchestration(Heat) V1 acceptance tests, it will occur many syntax error. e.g.
stacks_test.go:22:11: unknown field 'Template' in struct literal of type stacks.CreateOpts

[2017-12-28 11:07] ozerovandrei commented on #672
Hi.
I would like to take this issue.

Code references:
https://github.com/openstack/neutron/blob/stable/pike/neutron/db/db_base_plugin_v2.py#L707
https://github.com/openstack/neutron/blob/stable/pike/neutron/api/v2/attributes.py#L214
https://github.com/openstack/neutron/blob/stable/pike/neutron/ipam/subnet_alloc.py#L244

[2017-12-28 16:18] objque commented on #250
ping, any news?

[2017-12-28 20:31] jtopjian commented on #649
@TommyLike Thank you for your work on this :smile:

[2017-12-29 01:24] thiagodasilva opened #696 "Objects v1: containers metadata missing policy name"
The container's GetHeader struct is missing the 'X-Storage-Policy' header.

[2017-12-29 08:31] TommyLike commented on #649
@jtopjian we still missing some APIs regarding volume type resource, here: [volume type extra specs](https://developer.openstack.org/api-ref/block-storage/v3/#create-or-update-extra-specs-for-volume-type) and [encryption](https://developer.openstack.org/api-ref/block-storage/v3/#show-an-encryption-type)

[2017-12-29 09:22] ozerovandrei opened #698 "Discussion / New feature: Gnocchi (Metric as a Service)"
**Overview**

Currently OpenStack has the [Ceilometer](https://github.com/openstack/ceilometer) Telemetry data collection service that collects event and metering data.
But all REST API functionality of that service were moved to the [Gnocchi](https://github.com/gnocchixyz/gnocchi).

I want to implement some basic functionality of the [Gnocchi API](https://gnocchi.xyz/rest.html) such as:

- Metric

[2017-12-29 16:28] jtopjian commented on #649
@TommyLike OK, no problem. Perhaps it would be best to make a checklist of all features to be added?

[2017-12-29 16:35] jtopjian commented on #698
I think this is fine. Even though Gnocchi isn't using the standard OpenStack development workflow, I'd still consider it an OpenStack-related service. Given its popularity, I think it's applicable here.

I think this would be best. `metrics` plural might be better.

@jrperritt thoughts?

[2017-12-29 17:13] jrperritt commented on #698
I'm inclined to say 'no' to having this in this repo. It sounds like an OpenStack-related service insofar as it can be used with Ceilometer, but so can several other time-series databases. Maybe having it in `gophercloud/utils` would be OK.

[2017-12-29 17:35] jtopjian commented on #698
It's certainly a blurry line. If Gnocchi used the official development workflow (gerritt et al), it would be an easy decision. The adoption and popularity of Gnocchi is what made me lean toward it being acceptable here.

Perhaps the best deciding factor here is that the Telemetry wiki page:

https://wiki.openstack.org/wiki/Telemetry

lists Gnocchi as "non-OpenStack".

I think that's a fair option.

[2017-12-30 22:47] jtopjian commented on #690
Implemented in #691

[2017-12-30 22:47] #690 closed

[2017-12-31 07:29] ildarsv commented on #526
Hi, np, os-aggregates support was merged!
#691

[2017-12-31 10:44] ozerovandrei commented on #698
Thank you.
You can update assignee of that issue then.

That will be a problem because I will implement package `metrics` inside Gnocchi.
This package will be used for managing Gnocchi metrics 😅

Also official documentation suggests to create the Identity service entity for the Gnocchi with `metric` type:
https://docs.openstack.org/project-install-guide/telemetry/ocata/install-base-ubuntu.html

I

[2017-12-31 15:12] jrperritt commented on #698
@ozerovandrei `gophercloud/utils` is here: https://github.com/gophercloud/utils. That's where the PRs for this should go.

[2017-12-31 16:29] ozerovandrei commented on #698
@jrperritt oh, ok. I've moved my PR.

[2017-12-31 21:08] jtopjian commented on #698
This is our fault - we should have been more clear about the `utils` we were talking about :smile: Thank you for moving the PR.

I apologize for possibly bike shedding, but so we don't have to do a bunch of renaming later:

I think having it under a top-level `gnocchi` directory is OK. Ideally it would be under `openstack/metric` but to differentiate it as not-an-official-openstack-service-but-wil

[2017-12-31 21:25] jtopjian commented on #672
List has been implemented in #694. I will leave this issue open as a point of reference if someone wants to add Create, Update, and Delete.

[2017-12-31 21:30] jtopjian commented on #698
From reviewing https://github.com/gophercloud/utils/pull/9/files, it looks like this is the approach which was taken, so all is good :smile:

[2018-01-01 02:37] jtopjian commented on #696
Implemented in #697

[2018-01-01 02:37] #696 closed

[2018-01-02 06:36] kevin-zhaoshuai opened #700 "New feature: Zun (Containers Service)"
Current is [Zun](https://wiki.openstack.org/wiki/Zun) a Containers Service in OpenStack.  All supported stable Rest API is [here](https://developer.openstack.org/api-ref/application-container/). Gophercloud doesn't support Zun now.

Zun has two API entrypoint. One is "v1", the other is "experimental".
The v1 is stable API for container management, also "experimental" API is for Container Capsule,

[2018-01-02 19:31] jtopjian commented on #700
I think adding Zun is certainly valid. @jrperritt ?

One thing to keep in mind is that in-house knowledge of Zun is most likely very limited (personally, I only know Zun exists and nothing more). Therefore, it'll be very important that PRs for Zun strictly follow our style and contributing guide. This will help make code reviews easier. If we have to hunt for the required information ourselves, it

[2018-01-02 19:57] jrperritt commented on #700
I think it's valid insofar as it looks like an OpenStack service (I've never heard of it), but experimental APIs are probably a non-starter for merging into `master`.

@kevin-zhaoshuai I can make you a `zun-exp` branch if you like, where you can commit the experimental API until it's stable. We did that a while back for `magnum`, which I think in hindsight was a good decision.

[2018-01-03 02:26] kevin-zhaoshuai commented on #700
@jtopjian @jrperritt Thanks a lot!
I think zun-exp is a good solution for raft development, if experimental API is stable, I will move it to stable.
For making code reviewer easier, I will strictly follow the code style and contributing guide. Actually the API is most likely compute api for "servers", the difference is the management object is container instead of VM.

[2018-01-03 02:41] jrperritt commented on #700
Great. It has been created: https://github.com/gophercloud/gophercloud/tree/zun-exp.

[2018-01-03 16:58] dstdfx commented on #320
@jtopjian I'd like to finish this

[2018-01-03 17:16] jtopjian commented on #320
@dstdfx Sure, go for it :)

[2018-01-07 12:20] nim-nim opened #707 "openstack/orchestration/v1/stacks unit tests are broken"
+ echo 'Testing openstack/orchestration/v1/stacks…'
+ pushd /builddir/build/BUILD/gophercloud-fe4853e064e386919340e25c447d0fed6cd8c6ea/_build/src/github.com/gophercloud/gophercloud/openstack/orchestration/v1/stacks
+ go test -compiler gc -ldflags ' -extldflags '\''-Wl,-z,relro -specs=/usr/lib/rpm/redhat/redhat-hardened-ld '\'''
--- FAIL: TestGetRRFileContents (0.00s)
	convenience.go:236: Failure i

[2018-01-08 03:33] dangogh commented on #250
I have some code that implements a read-only CLI.  It takes a subcommand, e.g. `regions`, `security groups`, `servers`, etc and prints JSON.   It spans regions within the project/tenant concurrently.  Don'r want to step on toes,  but want to see something available in this area.  Should I submit a PR?

[2018-01-08 04:35] jrperritt commented on #250
@dangogh Sorry for losing track of this.

I don't think so. I did prototype this last year, and from what I remember, the gains didn't seem worth it. If you have something that works for you, I think that's great. An OpenStack CLI based on Gophercloud could easily live outside this repo; in fact, I created `gophercloud/cli` a while back, but may never populate it; the maintenance costs [currently]

[2018-01-09 10:04] boyvinall opened #711 "IDFromName functions cause unnecessary traffic"
Looks like all the `IDFromName()` functions are not using that name in the list request.  This means you can end up pulling down way more pages of results than you actually need.

In all cases, the fix is just changing this:

	pages, err := List(client, nil).AllPages()
	if err != nil {
		return "", err
	}

to this:

	pages, err := List(client, ListOpts{Name: name}).AllPages()
	if err != nil {
		re

[2018-01-09 10:11] boyvinall commented on #711
As per the [styleguide](../blob/master/STYLEGUIDE.md), I'll submit a PR once there's a comment here.  😄

[2018-01-10 01:24] jtopjian commented on #711
@boyvinall Thanks for looking into this.

It might be worthwhile to purge these functions from this repo and move them to the https://github.com/gophercloud/utils repo. If you'd like to re-implement them over there, we can remove them from this repo once that's done.

The directory structure should match this repo (at least to start), for example `openstack/compute/v2/servers/requests.go`.

Let me

[2018-01-10 02:56] jtopjian commented on #320
Implemented in #704

@dstdfx Thank you again for your work on this.

[2018-01-10 02:56] #320 closed

[2018-01-10 09:50] boyvinall commented on #711
@jtopjian Happy to do that if that's the general consensus, but I'm not sure I see the need to move them into that repo, and it will cause breaking change for (I'm guessing) quite a few people.

After a night's sleep, is it still your suggestion to move these functions out?

[2018-01-10 15:00] jtopjian commented on #711
Yes, I still believe we should move these functions out of this repo. These functions are purely convenience/utility functions and have no part in the core functionality of Gophercloud.

Gophercloud makes no guarantees about backwards compatibility. If users are correctly vendoring their dependencies, then moving these functions won't have a dangerous impact on compatibility.

[2018-01-11 03:45] jtopjian commented on #707
Looks like `stacks` is now passing. Thank you @nim-nim and @ozerovandrei for reporting and fixing.

[2018-01-11 03:45] #707 closed

[2018-01-11 16:20] databus23 opened #713 "Can't add custom handling for 403 responses"
I want to add custom handling of nova and neutron responses with status code 403. Thats not possible at the moment because there is no `Err403er` interface defined.

The content of 403 responses is important when the quota subsystem is used. An example quota error returned by nova looks like this:
[code]

I propose to add `ErrDefault403`, `Err403er` types and add a case for that to the error handl

[2018-01-12 01:26] jtopjian commented on #540
:tada:

[2018-01-12 01:26] #540 closed

[2018-01-12 11:37] ildarsv opened #715 "Add support of Compute services list"
There is no support of listing Compute services.
https://developer.openstack.org/api-ref/compute/#list-compute-services

I'm working on it.

[2018-01-12 15:02] nim-nim commented on #707
Works for me, thanks a lot!

[2018-01-13 22:26] dstdfx opened #719 "Compute v2: Show Hypervisor Statistics"
Compute v2 Nova's os-hypervisors extension provides the ability show summary statistics for all enabled hypervisors over all compute nodes.

API doc:
- [https://developer.openstack.org/api-ref/compute/#show-hypervisor-statistics](https://developer.openstack.org/api-ref/compute/#show-hypervisor-statistics)

Source code:

- [https://github.com/openstack/nova/blob/e66fc365c84497a19bab4a3bc06ac02e1461

[2018-01-14 02:48] jtopjian commented on #719
Implemented in #720

[2018-01-14 02:48] #719 closed

[2018-01-14 08:04] ozerovandrei commented on #672
@louis-gounot all API requests were implemented.

[2018-01-14 21:27] jtopjian commented on #672
:tada:

@ozerovandrei Thank you for your work on this :smile:

[2018-01-14 21:27] #672 closed

[2018-01-14 22:59] dstdfx opened #721 "Compute v2: Hypervisors API"
I haven't found the following parts of Hypervisors API at Gophercloud:

- https://developer.openstack.org/api-ref/compute/#show-hypervisor-details
- https://developer.openstack.org/api-ref/compute/#show-hypervisor-uptime

I'm ready to send few PRs.

[2018-01-15 14:31] simonre opened #723 "Add support for VPNaaS"
There is currently no support for VPN as a service in gophercloud.

https://developer.openstack.org/api-ref/network/v2/#vpnaas-2-0-unmaintained-vpn-vpnservices-ikepolicies-ipsecpolicies-endpoint-groups-ipsec-site-connections

I'm working on it.

---
- [x] IKE Policies: List
- [x] IKE Policies: Create
- [x] IKE Policies: Get
- [x] IKE Policies: Update
- [x] IKE Policies: Delete
---
- [x] IPSec Poli

[2018-01-15 15:00] dstdfx commented on #723
@simonre This feature mark as UNMAINTAINED, I reckon it makes sense to discuss it with @jtopjian or @jrperritt first

[2018-01-15 15:10] jtopjian commented on #723
My understanding is that VPNaaS has gone through some ups and downs. I haven't seen it discussed on the mailing lists lately, but the last I saw, there was interest in reviving it.

The [commit history](https://github.com/openstack/neutron-vpnaas/commits/master) shows activity. Given that it still exists as an OpenStack project and there's recent activity, I think we can include it here.

However,

[2018-01-15 21:25] dstdfx commented on #520
@ss22ever Is there something you're still working on?
@jtopjian I'd like to complete it

[2018-01-16 03:03] jtopjian commented on #520
@dstdfx Let's give @ss22ever another day to give us an update. If we don't hear back, then I would say it's safe to proceed.

[2018-01-16 03:21] jtopjian commented on #715
Implemented in #716

[2018-01-16 03:21] #715 closed

[2018-01-16 03:22] jtopjian commented on #608
I remember about this issue every week and then drop the ball on working on it. I still have plans to look into it, but if someone else wants to, they are more than welcomed to.

[2018-01-16 03:40] jtopjian commented on #530
I'm going to consider this issue resolved.

The orchestration tests were fixed up a few days ago (#707) and all unit tests are now passing. There are some orchestration tests that should be moved to a "testing" directory, but it might require some effort (or maybe it's easy - I haven't looked into them in too much detail).

But the important thing is that all tests are passing.

[2018-01-16 03:40] #530 closed

[2018-01-16 03:47] jtopjian commented on #305
Gophercloud now has Block Storage v3, so I think this issue is resolved. If there are questions or comments on the implementation, I'd be happy to discuss / reopen.

[2018-01-16 03:47] #305 closed

[2018-01-16 03:50] jtopjian commented on #106
This was resolved in #508. However, if you're still running into problems, let me know.

[2018-01-16 03:50] #106 closed

[2018-01-17 10:46] freddebacker opened #727 "Avoid caching API responses by HTTP proxies/caches along the way"
I ran into an issue where I was using terraform-openstack-provider (which uses gophercloud) through an HTTP proxy. Terraform was creating resources in an openstack cloud. Since creating the resources took some time, the initial response from openstack was "still creating...". Further polling of the resource status resulted in receiving cached copies of "still creating..." until time-out.

One coul

[2018-01-17 12:03] fatmcgav commented on #723
@simonre Have you got any beta code that I can take a look at? As could do with this feature :)

[2018-01-17 12:57] freddebacker commented on #727
PR #726

[2018-01-17 16:32] jtopjian commented on #727
@freddebacker I did a cursory scan and it doesn't look like any of the python client SDKs implement the no-cache header. Is that incorrect?

Either way, I believe this is more of an application-specific problem rather than something that should be fixed in Gophercloud. I understand your reasoning for submitting it here, but if we merge #726 we are dictating to everyone that caching will be disable

[2018-01-18 04:32] jtopjian opened #729 "BuildRequestBody and embedded structs"
Per discussion at https://github.com/gophercloud/utils/pull/16, we've identified a bug which prevents certain struct types, such as `time.Time` from working with `BuildRequestBody`.

[2018-01-18 06:01] jtopjian commented on #729
Fixed in #730

[2018-01-18 06:01] #729 closed

[2018-01-18 09:40] freddebacker commented on #727
I understand, but I'm not willing to start a "fight" convincing people what would be the best place to fix this...
I saved myself a lot of trouble implementing this in Gophercloud and I thought giving this back to the community. But Gophercloud isn't my project, so you can do with this fix as you see fit...

I do hope however that somehow google search picks up this caching problem so it can help

[2018-01-19 04:04] #506 closed

[2018-01-19 06:38] #721 closed

[2018-01-19 06:49] jtopjian commented on #721
:tada:

Thank you for your work on this :)

[2018-01-19 08:16] freddebacker commented on #727
Hi @jtopjian ,

No offenses taken, don't worry...

I admit, this probably isn't the best place to fix it, but in my opinion neither is Terraform; but in my defense; it was the only/easiest place under my control to fix it myself.

To be honest, I think this is an Openstack bug. In my opinion, the Openstack API (Nova in this case, but equally valid for all other APIs) should include proper HTTP hea

[2018-01-19 12:13] PriyankaJ77 opened #731 "Network v2: RBAC-policies CRUD"
Reference guide for RBAC: https://github.com/openstack/neutron/blob/master/doc/source/admin/config-rbac.rst

API:
https://developer.openstack.org/api-ref/network/v2/#rbac-policies

Schema:
https://github.com/openstack/neutron/blob/8f79a92e45c84819cfc4d1cda99c9320ae78bbaf/neutron/db/rbac_db_models.py

List:
https://github.com/openstack/neutron/blob/59e2c40f14157e0f2f64c340070cf46758d522e1/neutron/d

[2018-01-19 12:27] PriyankaJ77 commented on #731
@jtopjian ,@jrperritt could you please review on this issue and let me know if I can continue working on this.

[2018-01-19 14:45] ildarsv opened #732 "Add support of Blockstorage services list"
There is no support of listing Blockstorage services.
https://developer.openstack.org/api-ref/block-storage/v3/index.html#list-all-cinder-services

I'm working on it.

[2018-01-19 14:52] jtopjian commented on #731
@PriyankaJ77 Sure, sounds good to me :)

[2018-01-23 18:29] jtopjian opened #735 "Object Storage v1: Problem unmarshaling X-Static-Large-Object"
There's a possible issue with unmarshaling X-Static-Large-Object from an object header. The response might be sent as a string and it might need converted to a boolean.

[2018-01-24 14:54] BenoitKnecht opened #736 "Flavor results are missing the amount of ephemeral storage"
Nova returns the amount of ephemeral storage associated with an instance as `OS-FLV-EXT-DATA:ephemeral`, but it's ignored in gophercloud.

[2018-01-27 08:53] dstdfx opened #738 "Compute v2: Host aggregates API"
I haven't found the following parts of Host aggregates API at Gophercloud:

- [x] [Create Aggregate ](https://developer.openstack.org/api-ref/compute/#create-aggregate)
- [x] [Delete Aggregate](https://developer.openstack.org/api-ref/compute/#delete-aggregate)
- [x] [Show Aggregate Details](https://developer.openstack.org/api-ref/compute/#show-aggregate-details)
- [x] [Update Aggregate](https://de

[2018-01-28 21:05] majewsky opened #741 "token renewal should be thread-safe by default"
#636 added API for enabling thread-safe token renewals, but since it's not on by default, nobody is going to use it. There is a tiny added cost to always guarding all token accesses with mutexes, but I think it's worth the cost of avoiding duplicate token renewals.

[2018-01-28 21:06] majewsky opened #742 "cannot trigger a thread-safe token renewal from the API"
When I have a `var p *gophercloud.ProviderClient`, I can call `p.ReauthFunc()`, but that is not thread-safe even with `p.UseTokenLock()`.

[2018-01-28 21:40] jtopjian commented on #732
Implemented in #733

[2018-01-28 21:40] #732 closed

[2018-01-28 22:40] jtopjian commented on #736
Implemented in #737

[2018-01-28 22:40] #736 closed

[2018-01-28 22:41] jtopjian commented on #736
@BenoitKnecht Thank you for working on this :)

[2018-01-31 00:04] dklyle commented on #727
@freddebacker It is possible to create an issue in launchpad and attach multiple projects to it. The other place such things were handled in openstack is http://git.openstack.org/cgit/openstack/openstack-specs, but that has mostly been retired and entails significant overhead. The other place one could raise it is with the API Working Group, https://wiki.openstack.org/wiki/API_Working_Group#Commun

[2018-02-02 23:21] alvaroaleman opened #749 "Networking V2: Network object lacks many fields returned by get()"
The `type Network struct` is missing [a lot of the fields returned by get requests](https://developer.openstack.org/api-ref/network/v2/#show-network-details)

[2018-02-02 23:56] jtopjian commented on #749
@alvaroaleman Thanks for reporting this.

A lot of these fields might be extensions to Neutron and not part of the core "network" struct. An example of this is `segments`. Although it's listed as a response field in the API docs, it's actually an extension to Neutron and is defined in Gophercloud [here](https://github.com/gophercloud/gophercloud/blob/master/openstack/networking/v2/extensions/provi

[2018-02-04 12:18] alvaroaleman commented on #749
@jtopjian Thanks for the explanation! So the point of forcing the uses to build their own structs if they want attributes that come from an extension is to make them aware that those attributes may or may not be present?

[2018-02-04 19:08] jtopjian commented on #749
@alvaroaleman Yes.

Gophercloud attempts to model the OpenStack API's as they are defined in the service code. This includes making explicit distinction between fields that are in a "core" API and what's an extension. One reason for doing this is because OpenStack environments can vary from cloud/vendor to cloud/vendor.

They key here is to think of the role "developer" when you say "user". Gopher

[2018-02-04 19:43] jtopjian opened #752 "Networking v2: Specify a Subnet when Creating a Floating IP"
It's possible to specify a subnet when creating a floating IP:

https://github.com/openstack/neutron-lib/blob/9a2724a951bb45ecde69feccfb9f2de88c1eeb0d/neutron_lib/api/definitions/l3.py#L112

[2018-02-05 14:33] freddebacker commented on #727
Thanks @dklyle for your suggestions.

Raised to the openstack-dev mailing list here: [http://lists.openstack.org/pipermail/openstack-dev/2018-February/126975.html](http://lists.openstack.org/pipermail/openstack-dev/2018-February/126975.html)

[2018-02-05 15:35] cdent commented on #727
It _is_ an OpenStack bug, and bugs should be created. It's been fixed in [placement](http://specs.openstack.org/openstack/nova-specs/specs/queens/approved/placement-cache-headers.html) but it's definitely a problem lots of other places. Having a real bug created about the problem should help to ensure it gets addressed for real.

Wearing my api-sig hat: this isn't something we've really addressed

[2018-02-05 19:26] freddebacker commented on #727
Hi @cdent,

Being relatively new to openstack, someone helping me identifying "lots of other places" and where/how to raise bugs would help... I can definitely see what you mean with "widespread" and "insurmountable".

Feel free to let me know how I can help to get this going in the good direction for the benefit of everyone.

Fred

[2018-02-05 21:58] jrperritt commented on #752
closed by #753

[2018-02-05 21:58] #752 closed

[2018-02-06 17:41] jtopjian commented on #727
@freddebacker You can create a bug report for Nova here:

https://bugs.launchpad.net/nova

I think the way you have described the issue both here and on the OpenStack list is perfect. You could probably either copy/paste or write a similarly-worded bug report.

[2018-02-07 15:10] freddebacker commented on #727
Nova bug created: https://bugs.launchpad.net/nova/+bug/1747935

[2018-02-07 16:48] ozerovandrei commented on #698
@jtopjian @jrperritt thank you guys for a review on PRs.

All stuff that has been merged will allow developers to work with fundamental parts of Gnocchi - creating, updating, deleting measures, metrics and resources.
Also they will be able to read archive policies.

All additional capabilities should be implemented in separate issues in the `gophercloud/utils` repo.

You can close that issue 🎉

[2018-02-07 16:57] jtopjian commented on #698
@ozerovandrei Thank you _very_ much for your work on this!

[2018-02-07 16:57] #698 closed

[2018-02-07 17:26] jrperritt commented on #698
@ozerovandrei yes, thank you very much for your hard work on this

[2018-02-08 04:35] LingxianKong opened #757 "Add support for Octavia"
Octavia will supplant Neutron LBaaS as the load balancing solution for OpenStack, for the cloud using Octavia to provide LB functionality directly(has nothing to do with Neutron anymore), it's impossible to interact with the service by using gophercloud

[2018-02-08 04:36] LingxianKong commented on #757
If octavia support is on the roadmap, I can hand up to take over this task, because we really need it.

[2018-02-08 12:03] LingxianKong commented on #757
Check again, Octavia is already supported

[2018-02-08 12:03] #757 closed

[2018-02-10 07:38] #738 closed

[2018-02-10 16:14] jtopjian commented on #738
🎉

@dstdfx Thank you for working on this :)

[2018-02-14 03:10] jtopjian opened #761 "Compute v2: Fix Flavor Builder Names"
I was doing some Terraform work and noticed the flavor extra spec builder names need renamed to follow the correct format.

[2018-02-14 03:59] jtopjian commented on #761
Fixed in #762

[2018-02-14 03:59] #761 closed

[2018-02-14 13:16] ozerovandrei opened #763 "Networking: Subnetpool id field in the Subnet"
Neutron subnetpools support were implemented some time ago: [#672](https://github.com/gophercloud/gophercloud/issues/672).
But the subnet resource doesn't have the subnetpool id in it's CRUD methods in the Gophercloud.
That should be fixed.

[API reference](https://developer.openstack.org/api-ref/network/v2/index.html#subnets)

[2018-02-15 10:41] ozerovandrei opened #766 "Networking V2: some subnetpools boolean fields should be pointers in the create request"
I've just started working on the [terraform-provider-openstack#242](https://github.com/terraform-providers/terraform-provider-openstack/issues/242) and noticed that we're using a `bool` type for some fields inside the `subnetpools.CreateOpts`:
[code]
They're should be `*bool` so create request body won't has them by default, because they're optional.
(And `Shared` in-line commentary should be fixe

[2018-02-15 13:58] jrperritt commented on #766
Currently those fields default to `false` (which is the zero-value for booleans). How would this change affect that (i.e. what will be possible with this change that can't currently be done)?

[2018-02-15 14:57] jtopjian commented on #766
Perhaps to clarify:

If a user specifies `Shared` as `false`, Gophercloud will never include it in the request. So the question is: what's Neutron's default behavior when `shared` isn't sent in the body? Is it to make the subnet pool not shared? If so, then everything is fine and no change is required.

But if the omission of `shared` in the request body is different than `"shared": false` in the

[2018-02-15 15:57] ozerovandrei commented on #766
@jtopjian yeah, I got confused because I saw that `Shared` field in the `networks.CreateOpts` has the `*bool` type: [requests.go#L71](https://github.com/gophercloud/gophercloud/blob/master/openstack/networking/v2/networks/requests.go#L71). And I remember how I fixed some fields of the `subnetpools.UpdateOpts` to pointers: [4d19f224](https://github.com/gophercloud/gophercloud/pull/706/commits/4d19f

[2018-02-15 16:02] #766 closed

[2018-02-19 16:43] grahamhayes opened #776 "Network V2: Add DNS Attributes to Network, Port and FloatingIP resources"
The neutron API allows setting DNS attributes on some resources, which allows for auto provisioning of DNS Records, and better internal DNS resolution.

https://docs.openstack.org/mitaka/networking-guide/config-dns-int.html

[2018-02-19 19:27] majewsky opened #778 "UseTokenLock is not thread-safe"
Title says it all. When a ProviderClient or ServiceClient is passed into a library or other piece of code that requires thread-safe token renewal, that code cannot speculatively call `UseTokenLock` because of the missing threadsafeness.

Possible solutions:

- Make it thread-safe.
- Make it idempotent (which makes it thread-safe for the purpose of the usecase discussed above.)
- Just get rid of it

[2018-02-20 04:37] jtopjian opened #779 "Image Service v2: Add Missing Fields to ListOpts"
Following-up on an old Terraform feature request, there are a few fields missing from ListOpts:

1. It's possible to list by `container_format` and `disk_format`:

https://github.com/openstack/glance/blob/05e9bdb656d9c120ed3cd6ffc8ae7dbf5614b5e4/glance/db/simple/api.py#L324-L325

2. `Tag` should actually be `Tags` as multiple tags are allowed:

https://github.com/openstack/glance/blob/05e9bdb656d9

[2018-02-21 03:32] jtopjian commented on #520
Implemented in #728

[2018-02-21 03:32] #520 closed

[2018-02-22 02:42] jtopjian commented on #778
@majewsky The recent changes to reauth locking have indeed raised some questions. Unfortunately they're out of my comfort area to try to fix.

I believe @jrperritt has been busy away from Gophercloud, but we'll get this addressed as soon as possible.

I realize this update isn't very helpful but I wanted to at least let you know it's not being silently ignored.

[2018-02-22 09:28] majewsky commented on #778
Thanks, that's much appreciated.

[2018-02-23 03:15] jtopjian opened #788 "Networking v2: Fix up subnetpools"
During implementation of https://github.com/terraform-providers/terraform-provider-openstack/pull/243, we discovered that it is not possible to query by Prefixes.

The fields which Neutron allows for listing is dynamic, based on the fields of the resource itself. I guess a limitation of this is fields which are arrays.

Doing further testing, I found that it is also not possible to list by `create

[2018-02-23 21:36] jrperritt commented on #788
closed by #789

[2018-02-23 21:36] #788 closed

[2018-02-24 03:42] jtopjian commented on #731
:tada:

@PriyankaJ77 @manju754 Thank you both for your work on this!

I think this is complete, but if it's not, please let me know.

[2018-02-24 03:42] #731 closed

[2018-02-24 05:57] jtopjian opened #790 "Network v2: ProjectID/TenantID Support"
In the past few PRs, I began questioning the use of TenantID when both TenantID and ProjectID were bundled, favoring ProjectID. However, that's not entirely correct.

We ran into an issue today at `$work` with the Python SDK where we were unable to create a network on behalf of another tenant/project. The cause is a bug in the Python SDK which incorrectly strips `tenant_id` from the network reques

[2018-02-27 04:39] jtopjian commented on #723
@simonre I updated this issue with a list of actions to implement. Let me know if something is incorrect.

[2018-02-27 09:04] simonre commented on #723
@jtopjian Looks good

[2018-02-27 19:20] gimmeshelter opened #795 "Fields removed from Service struct"
In commit b47265a60452b8c6b31422c18482bcddc9ffc89e by @dklyle, the `Name` and `Description` fields were removed from the `Service` struct.  Reviewing the documentation for the [Identity V3 API](https://developer.openstack.org/api-ref/identity/v3/index.html#service-catalog-and-endpoints), these fields are still present in the response from the API.  Is there an explanation for why they were dropped

[2018-02-27 20:00] dklyle commented on #795
They were not dropped. I changed the way they were supported to more accurately match the API. While those fields are named in the API docs, they are not specifically stored in the backing for `Service`. For more details around the motivation for these changes see https://github.com/gophercloud/gophercloud/pull/610

The change also allows for more consistency between GET and POST operations.

The

[2018-02-27 20:20] gimmeshelter commented on #795
Thank you for that info, David (@dklyle).

[2018-02-27 20:20] #795 closed

[2018-02-28 00:11] dklyle commented on #790
I'd be very hesitant to remove project_id where supported. That is the preferred terminology and neutron took the effort to support the transition from tenant_id to project_id https://specs.openstack.org/openstack/neutron-specs/specs/newton/moving-to-keystone-v3.html  Unfortunately, LBaaSv2 is not part of neutron proper and thus has not followed the same conventions. I would prefer option 3. And l

[2018-02-28 02:40] jtopjian commented on #790
@dklyle Thanks for that link - it's very helpful! From reading the technical implementation, `project_id` is a synonym/alias for `tenant_id`. While an extension would work, `project_id` is more of a first-class attribute within Neutron and so it should be alongside the resources.

It sounds like Option 3 is definitely the right way to go.

[2018-03-01 16:31] jtopjian commented on #511
@ozerovandrei If you don't hear back from @bugosiphionah in the next day, then I would say you can proceed with working on this.

[2018-03-02 19:49] jtopjian opened #800 "Compute v2: Error in servers documentation"
The `servers` documentation contains a typo in the example of "creating a server with a key pair"

[2018-03-02 19:53] jtopjian commented on #800
Fixed in #799

[2018-03-02 19:53] #800 closed

[2018-03-04 10:52] ozerovandrei commented on #511
Ok. I created some PRs. I've decided to implement it in a separate extension for the networking v2 package.

[2018-03-05 11:24] awskii opened #805 "ObjectStorage: Optional ETag calculation on Create"
Hello there.

I got into a situation, when i need to stream huge amount of data to servers using Create and found that it requests too much RAM. Finally, I found out that it's because of compulsory `ETag` calculation - data will not be streamed to server till `ETag` (MD5 hashsum) will not be calculated. My proposal is make it optional, regulated by boolean field like `NoETagCalculation` in `Create

[2018-03-05 16:12] jtopjian commented on #805
@awskii Thanks for reporting this.

For reference there is an existing PR here (https://github.com/gophercloud/gophercloud/pull/597). It seems the reason https://github.com/gophercloud/gophercloud/pull/597 is disabling etag is different than the two use-cases you laid out here.

I think all three use-cases are valid. However, we need to prove this. Can you point to the areas in the Swift code wher

[2018-03-05 16:49] jrperritt commented on #727
@freddebacker thank you for filing the bug. It looks like it's going to be fixed upstream in OpenStack.

[2018-03-05 16:49] #727 closed

[2018-03-05 16:53] jrperritt commented on #713
closed by #714

[2018-03-05 16:53] #713 closed

[2018-03-05 16:58] jrperritt commented on #778
I agree that we should get rid of it.

@majewsky I'd also like to understand your issue better. Do you have a repro that causes the race?

[2018-03-05 17:03] jrperritt commented on #741
It's used by default if `gophercloud.NewClient` is called, which is called from any library function that creates a provider client. In fact, I think the only way to _not_ use it by default is by creating a provider client via
[code]
which almost no one does. Maybe I'm missing something?

[2018-03-05 17:13] jrperritt commented on #343
closed by #783

[2018-03-05 17:13] #343 closed

[2018-03-05 17:23] jrperritt commented on #790
closed by #801

[2018-03-05 17:23] #790 closed

[2018-03-05 18:58] awskii commented on #805
@jtopjian, I am not sure I understood properly what topic starter meant by multipart manifests (files larger than 5 GB?) or something else.

Also, it is not clear what to test. RAM overhead?

We can't stream file first and after finish push to server (in continuous request) ETag header, but we can request etag from backends after upload and check their equality, if they are not equal - return erro

[2018-03-05 19:14] jtopjian commented on #805
@awskii At a minimum, your PR needs to include a unit test which verifies that the headers being sent do not contain an etag.

However, as @jrperritt noted in https://github.com/gophercloud/gophercloud/pull/597, it might be best for Gophercloud to provide a dedicated package or a set of functions to better handle large file sizes. If you wanted to work around this locally in the meantime, you can

[2018-03-06 04:02] jtopjian commented on #511
Implemented in #804

@ozerovandrei Thank you for your work with this :smile:

[2018-03-06 04:02] #511 closed

[2018-03-06 04:09] jrperritt commented on #779
closed by #780

[2018-03-06 04:09] #779 closed

[2018-03-06 07:47] kevin-zhaoshuai commented on #700
@jtopjian Zun has move capsule API to V1 now. So I wonder could I implement the capsule API in gophercloud from branch zun-exp to master?
Or just finish all the actions of capsule in zun-exp and then migrate to master ?

[2018-03-06 10:34] awskii commented on #805
@jtopjian ok, test added.

I am wondering, why you not use parallel testing?

[2018-03-07 02:36] jtopjian commented on #700
@kevin-zhaoshuai That's great news - congratulations.

I think either option is valid - whichever you'd like to do.

[2018-03-07 02:39] kevin-zhaoshuai commented on #700
@jtopjian If so, I'd like to merge zun-exp to master first.
Do I need to apply for a PR to merge zun-exp to master, or you can help to merge it directly?
Thanks a lot !

[2018-03-07 02:42] jtopjian commented on #700
Good question.

@jrperritt is that something you'd like to handle?

[2018-03-07 03:14] jtopjian commented on #805
@awskii Thank you for adding the test :)

I can't say for sure if this is something that will be merged. There's still some investigation we need to do in order to determine what the best solution is for these types of use-cases. As I mentioned above, the use-case you've outlined as well as the other ones in #597 are valid, but there might be a different implementation we want to use.

Good questi

[2018-03-07 13:16] awskii commented on #805
@jtopjian for parallel test execution you just need to tell runner that test can be performed in parallel - just using `t.Parallel()`.

[2018-03-08 07:46] koteswar16 opened #814 "sequence of port create calls with 10 sec delay in between failing with "connection reset by peer""
I am calling portsbinding.Create(client, portBindingOptions).Extract() sequentially from k8s pod to openstack neutron running remotely. If the delay between 2 calls is 60sec they all ports are getting created but if i reduce to 20 sec, few ports are NOT getting created with the following error "ERROR: Post https://xyz/neutron/v2.0/ports: read tcp 10.0.3.181:43380->10.201.109.131:3128: read: connec

[2018-03-08 10:34] majewsky commented on #778
Ah sorry, since `UseTokenLock` is public, I assumed that it was meant to be used by the library user, but afaics it's only public to cross package boundaries inside Gophercloud. In light of that, I withdraw my criticism.

[2018-03-08 10:34] #778 closed

[2018-03-08 10:35] majewsky commented on #741
Ah sorry, since `UseTokenLock` is public, I assumed that it was meant to be used by the library user, but afaics it's only public to cross package boundaries inside Gophercloud. In light of that, I withdraw my criticism.

[2018-03-08 10:35] #741 closed

[2018-03-08 16:26] colin-nolan commented on #206
We have come across this issue. In our case it occurred with this code:
[code]

The `AddServer` method results in a post to [the correct OpenStack endpoint](https://developer.openstack.org/api-ref/compute/#add-security-group-to-a-server-addsecuritygroup-action), which returns a 202 and an empty response body. The `EOF` error happens when the `Request` method attempts to parse the response body:
ht

[2018-03-09 04:16] jtopjian commented on #206
@colin-nolan well I'll be - thank you! In retrospect, your analysis matches @pschollbach, too.

I've opened #815 which should resolve this problem. If you are able to, can you test it?

[2018-03-09 10:06] colin-nolan commented on #206
Done :)

Note: the example posted in https://github.com/gophercloud/gophercloud/issues/206#issuecomment-371540305 can also fail with "Resource not found" as the server create is async too - don't use `secgroups.AddServer` like this!

[2018-03-09 15:03] jtopjian commented on #206
Thank you for the details and for testing, too :)

Right - the above example you gave won't work out of the box, but it was good enough for me to go off of. The acceptance test included in #815 waits until the server is in an "active" state before attaching the group which prevents the "resource not found" error.

[2018-03-10 19:00] alvaroaleman commented on #749
Thanks for the clarification!

[2018-03-10 19:00] #749 closed

[2018-03-12 03:50] jtopjian opened #816 "Networking v2: Fix Extra DHCP Options Update"
In order to update an existing extra DHCP option, the value of the option must be set to `null`:

https://github.com/openstack/neutron/blob/7b4ad21cb53c57b31f093ba9f6babb8e0f27e9f6/neutron/db/extradhcpopt_db.py#L88-L89

[2018-03-12 04:49] jtopjian opened #818 "Acceptance Test Updates"
This issue is to house a set of acceptance test updates I intend to implement.

This includes:

* Add the ability to view the OpenStack API JSON requests and results when testing
* Perform assertions on the results of resources
* Flag the ability to enable and disable certain tests from running (eg: admin-only tests, service-specific tests)

[2018-03-12 08:31] freddebacker commented on #727
Not sure I agree with your conclusion. From what I see from the LP bug, it is not moving anywhere... Besides it will probably take ages to get it fixed.

I'm still wondering if it wouldn't be an opportunity to apply this fix here until it is properly fixed in openstack...

Anyway... I feel like I did everything within my power to raise attention and help the community... Pity nothing is changing..

[2018-03-12 11:39] cdent commented on #727
Things do indeed move very slowly in OpenStack, and even when they do move quickly, it unlikely that a fix like this would get universal acclaim to be backported to older versions, thus having workaround in gophercloud may be warranted if gophercloud is going to support older versions (which would make sense since older versions are what is deployed).

Fred, your efforts did cause a bit of progres

[2018-03-12 15:01] jtopjian commented on #727
Gophercloud allows applications which consume it to add any additional headers to the http client. Because of this, I think it would be better to add this kind of support in the Gophercloud-based application.

I've mentioned that I would be happy to add this support to Terraform. I keep forgetting about this issue, though, so I've quickly made a Terraform issue about this:

https://github.com/terr

[2018-03-13 23:05] JackKuei opened #823 "Add support for Senlin clustering"
Currently there is no support for senlin clustering in gophercloud.

[https://developer.openstack.org/api-ref/clustering/](url)
---
- [ ] Profiles: List
- [ ] Profiles: Create
- [ ] Profiles: Get
- [ ] Profiles: Update
- [ ] Profiles: Delete
- [ ] Profiles: Validate
---
- [ ] PolicyTypes: List
- [ ] PolicyTypes: Get
---
- [ ] Policies: Get
- [ ] Policies: Create
- [ ] Policies: Get
- [ ] Policies:

[2018-03-14 00:29] jtopjian opened #825 "Reword Contributing Guide to Suggest Opening an Issue First"
As pointed out in #822, the contributing guide suggests that a contributor can open an issue _or_ submit a PR when working on a feature. We should reword this so that an Issue is opened first for discussion.

[2018-03-14 07:53] zengchen1024 opened #827 "add 'OS-SCH-HNT:scheduler_hints' to volume CreateOpts"
'OS-SCH-HNT:scheduler_hints' is an optional field of volume creating API[1][2], but it is not supported in current volume CreateOpts[3][4].

[1] https://developer.openstack.org/api-ref/block-storage/v2/#volumes-volumes
[2] https://developer.openstack.org/api-ref/block-storage/v3/#volumes-volumes
[3] https://github.com/gophercloud/gophercloud/blob/master/openstack/blockstorage/v2/volumes/requests.g

[2018-03-14 12:05] eugenetaranov opened #829 "rackspace support"
Hello,

I am currently trying to make terraform openstack provider work with rackspace, it requires some changes to be done in gophercloud sources. I would like to know whether it would be possible to get it merged into gophercloud upstream to avoid maintaining a separate fork?

Here is a sample change for trove https://github.com/eugenetaranov/terraform-provider-openstack/commit/3f816e9dd025a9ac4

[2018-03-14 15:29] jtopjian commented on #829
@eugenetaranov The effort to get the Terraform OpenStack provider working with Rackspace is definitely appreciated. However, I think you'll end up running into enough small bugs that a separate provider would make sense in the long run. I might be wrong about this, though -- I'll let @jrperritt confirm.

@jrperritt had a partial implementation of a Rackspace provider: https://github.com/hashicorp/

[2018-03-14 16:44] jrperritt commented on #829
It sounds like there are 2 separate questions here:

1. Should changes be added to this repo to allow the library to work with Rackspace?

I think this will be a "no"; the old `gophercloud` repo at `github.com/rackspace/gophercloud` did this. This repo is specifically for OpenStack proper.

2. What effort would be required to support Rackspace externally.

There are 2 possibilities here: Rackspace

[2018-03-14 21:11] jrperritt opened #830 "Add cascade option to loadbalancers.Delete"
Octavia load balancers have the option of "cascading" a delete, which deletes all a load balancer's children (listener, monitor, etc) as well. The option is not available for Neutron.

[2018-03-14 22:07] jrperritt commented on #825
closed by #826

[2018-03-14 22:07] #825 closed

[2018-03-15 00:51] jtopjian commented on #827
@zengchen1024 This would be a great feature to add.

It looks like scheduler hints is an API extension:

https://github.com/openstack/cinder/blob/a15459a27777e98599d70392191b0a6f0288ff34/cinder/api/contrib/scheduler_hints.py

Unless I'm mistaken, this piece is extending the volume request:

https://github.com/openstack/cinder/blob/a15459a27777e98599d70392191b0a6f0288ff34/cinder/api/contrib/schedul

[2018-03-15 02:45] jrperritt commented on #298
@jtopjian all done here?

[2018-03-15 02:47] jrperritt commented on #206
closed by #815

[2018-03-15 02:47] #206 closed

[2018-03-15 02:48] jtopjian commented on #298
Yes! 3 days to the 1 year mark :smile:

I remember starting this one thinking it'd be done in an afternoon.

[2018-03-15 02:48] #298 closed

[2018-03-15 02:52] jrperritt commented on #830
closed by #831

[2018-03-15 02:52] #830 closed

[2018-03-15 03:10] lingxiankong opened #832 "Octavia: support L7 policy/rule operations"
Please refer to: https://docs.openstack.org/octavia/latest/user/guides/l7.html

---
- [x] l7 policy create
- [x] l7 policy list
- [x] l7 policy get
- [x] l7 policy update
- [x] l7 policy delete

---
- [x] l7 rule create
- [x] l7 rule list
- [x] l7 rule get
- [x] l7 rule update
- [x] l7 rule delete

[2018-03-15 03:34] jtopjian commented on #832
@lingxiankong Thanks for noting this :)

I see the L7 stuff defined here:

https://github.com/openstack/octavia/blob/master/octavia/api/v2/controllers/l7rule.py
https://github.com/openstack/octavia/blob/master/octavia/api/v2/controllers/l7policy.py

But I also see it in the Neutron LBaaS code:

https://github.com/openstack/neutron-lbaas/search?q=l7

Does this mean that L7 is supported in both Octa

[2018-03-15 04:03] lingxiankong commented on #832
hi, @jtopjian

AFAIK, the octavia l7 functionality is totally back-compatible with neutron-lbaas, octavia just has more features than the deprecated neutron-lbaas. I was a developer in octavia, btw.

[2018-03-15 04:23] lingxiankong commented on #832
@jtopjian if you don't mind, i can hand up to help with this issue.

[2018-03-15 05:01] jtopjian commented on #832
We'd love to get your help on this, whether answering questions, implementing the code, or both 😄

OK, that's good to know. So implementing this should be quite simple: it'll go in the `lbaas_v2` package and either the `network` or `load-balancer` can use it.

Right, and this is what I'm trying to sort out.

We've been able to introduce Octavia support into Gophercloud by re-using current [Neutron

[2018-03-15 12:32] zengchen1024 commented on #827
@jtopjian Thanks for your reviews. Your comments are very useful. I will update the pr. Thanks again!

[2018-03-15 14:21] jtopjian commented on #832
This is a kind of problem we've run into before. Rather than a v3 API, the Octavia enhancements sound similar to a microversion increase (if you think of the `load-balancer` client like a microversion increase). #441 lays out the difficulty in implementing microversion enhancements to existing APIs.

I'm sure that most Octavia-only features can be added to the existing `lbaas_v2` package without a

[2018-03-15 14:37] jrperritt commented on #832
@jtopjian what do you think about having a top-level `loadbalancer` package, and delegating calls in it to `lbass_v2` unless a change is needed?

[2018-03-15 15:06] jtopjian commented on #832
I see similarity between lbaasv2/Octavia and microversions and I think it'll be interesting to keep an eye on this to see if it presents a solution we haven't thought of. I'm kind of hoping some serendipitous solution pops up that we're all in awe over :)

Until then, I think we can proceed as normal and just be mindful.

[2018-03-15 15:15] jrperritt commented on #832
This seems different to me. It sounds like microversions are [potentially-backwards-incompatible] changes to a service. Octavia isn't a part of the networking service; it's a service of its own. It seems odd to call a subpackage of `networking` to call load balancer operations when a dedicated service exists for it.

[2018-03-15 15:17] jtopjian commented on #832
I agree. The reason I am comparing it to a microversion is because I'm anticipating a backwards incompatible change (and by backwards incompatible I mean a more Go-ish breaking change such as the removal of a request body parameter or something like that). So at the moment the two situations are a bit different. My spidey sense is being cautious, though.

Agreed. On one hand we get a big win by pi

[2018-03-15 15:35] jtopjian commented on #832
I should also mention that if we did make a new first-class `loadbalancer` service directory/package, then problem solved. Octavia-only features would be added there and missing LBaaS v2 features would go in both `networking/v2/extensions/lbaas_v2` and `loadbalancer/lbaas_v2`.

The problems I'm anticipating all stem from implementing the LBaaS v2 API in a single place.

[2018-03-15 15:39] jrperritt commented on #832
Right, I'm suggesting a new top-level `loadbalancer` package to be implemented as you've described.

[2018-03-15 15:55] jtopjian commented on #832
Sounds like `loadbalancer/v2/lbaas` (or whichever directory structure is best) it is then 😄

[2018-03-17 07:20] problemv opened #836 "Zaqar: Support Messaging operations"
API Documentation: https://developer.openstack.org/api-ref/message/

- [ ] Queues
- [ ] Messages
- [ ] Claims
- [ ] Flavors
- [ ] Pools
- [ ] Subscriptions

[2018-03-17 07:22] problemv commented on #836
I will be submitting a few PRs to add all of this functionality within the following week. This will coincide with a separate pull to add Senlin support so gophercloud can support Autoscaling.

[2018-03-17 19:55] jtopjian commented on #836
@problemv This sounds good to me.

It looks like someone is already working on Senlin: https://github.com/gophercloud/gophercloud/issues/823. Are you two collaborating on this? Just want to make sure duplicate Senlin PRs aren't made.

Also, if you haven't, I recommend reading our [CONTRIBUTING](https://github.com/gophercloud/gophercloud/blob/master/.github/CONTRIBUTING.md) and [STYLE](https://gith

[2018-03-18 02:25] problemv commented on #836
@jtopjian Thanks for the quick reply.

Yeah I am working with the developer who will be adding the Senlin patch.

[2018-03-18 03:34] jtopjian commented on #836
@problemv sounds good!

One more quick note:

Just to give you a realistic expectation of a timeline, it's probably going to take 3-4 weeks to get all of Zaqar/Messaging merged.

I usually have time to do one round of code reviews per day and the time it takes for change requests and rebasing/merge resolutions naturally add up.

#723 is a really good example of a fast-moving series of PRs.

[2018-03-18 22:20] jtopjian opened #837 "Docs: Contributor Tutorial"
While we have our CONTRIBUTING and STYLE guides, I wanted to try a different approach to documenting the contribution process.

I've written up a detailed contributor's tutorial here:

https://github.com/jtopjian/gophercloud/tree/docs-tutorial/docs/contributor-tutorial

If this looks like it's useful, I'll submit a PR.

note: the first few commits of that branch are re-arranging some of the docs i

[2018-03-18 23:43] lingxiankong commented on #837
hi, @jtopjian thanks for writing the so amazing doc, it's helpful for me.

BTW, how does gophercloud team communicate with each other besides the github, do you use slack or irc to online chatting?

[2018-03-19 02:01] jtopjian commented on #837
Awesome - I'm glad it was helpful :)

Communication is all done through Github. We all work on Gophercloud in our spare time so a real-time tool like IRC or Slack wouldn't work very well. This is the main reason we have a defined process in place for contributing code - it helps make it easier for us to review and merge items quickly.

[2018-03-19 02:08] lingxiankong commented on #837
Fair enough, thanks for your time for review :-)

[2018-03-20 23:58] jrperritt commented on #816
closed by #817

[2018-03-20 23:58] #816 closed

[2018-03-21 03:24] jgeorgeson opened #840 "Boot from image, specifically ISO"
I'd like to see a Packer openstack-iso builder (ie boot an instance with an ISO image and run kickstart file to build stemcell OS images) or for the existing openstack builder to be enabled with such functionality.

https://github.com/hashicorp/packer/issues/3705

Seems the openstack builder uses this library, so I think the first step would be for gophercloud to have a `bootfromimage` extension.

[2018-03-21 03:35] jtopjian commented on #840
@jgeorgeson I'm surprised this doesn't work in Gophercloud. Are you sure this is an issue specifically to Gophercloud or is it just in the way that Packer is using it?

One way for us to verify if support is in Gophercloud is if you could provide the output of:

[code]

And then provide the (sanitized) output to a github gist.

[2018-03-21 04:12] jgeorgeson commented on #840
I guess I forget to mention I was speculating based on the presence of a `bootfromvolume` extension and the lack of a `bootfromimage` extension that it's not currently supported by gophercloud. I'm not really a Go developer and I'm pretty new to OpenStack. Looking at the  CLI for booting from a volume

https://docs.openstack.org/ocata/user-guide/cli-nova-launch-instance-from-volume.html

I see tha

[2018-03-21 19:51] jtopjian commented on #840
@jgeorgeson Yeah, it's a little confusing. Booting from an image is the default behavior, which is why there's no explicit extension. Booting from a volume is indeed a specialized case, hence the extension.

Yep. In theory. :)

I've personally never booted an ISO so there's always a slight chance that the `openstack` tool is doing some customization behind the scenes when it detects that an ISO wa

[2018-03-22 13:51] jrperritt commented on #742
closed by #743

[2018-03-22 13:51] #742 closed

[2018-03-23 03:58] zhangzujian opened #843 "Identity V3 users: need some functions"
Before starting a PR, please read the [style guide](https://github.com/gophercloud/gophercloud/blob/master/STYLEGUIDE.md).

[Identity API v3 - Change password for user](https://developer.openstack.org/api-ref/identity/v3/index.html#change-password-for-user)
[Identity API v3 - Add user to group](https://developer.openstack.org/api-ref/identity/v3/index.html#add-user-to-group)
[Identity API v3 - Rem

[2018-03-23 20:18] jtopjian commented on #843
@zhangzujian Thank you for adding some missing Identity features.

Please note that each PR must only include one feature addition, so each of the above items will need to be a separate PR.

Also note that you'll need to provide references to the Keystone python code where each feature is implemented. The API docs can't be used as a primary reference.

I have a draft contributor tutorial written h

[2018-03-25 18:37] eugenetaranov commented on #829
Thanks @jtopjian and @jrperritt for detailed responses, it all makes sense so let's go with separate provider then.

[2018-03-25 18:37] #829 closed

[2018-03-27 19:43] jtopjian commented on #723
@simonre This was some really nice work -- thank you very much for your help and patience through this.

Are we missing anything here or is this fully implemented?

[2018-03-27 21:13] simonre commented on #723
@jtopjian Thanks for your help with this!
I think this is fully implemented(apart from the two acceptance tests as we discussed in #784 )

[2018-03-27 21:13] jtopjian commented on #723
🎉

[2018-03-27 21:13] #723 closed

[2018-03-28 18:50] jtopjian opened #852 "Create Dedicated Load Balancer packages"
Currently, the `LoadBalancerV2` client is piggybacking off of the Neutron `lbaas_v2` packages. Per discussions in #832 and #834, we want to create dedicated packages for Octavia/LBaaS.

[2018-03-28 18:54] waynr opened #853 "AuthenticateFromEnv gives mysterious errors"
When appropriate environment variables are not set, it's not entirely clear from the error output of `AuthenticateFromEnv` which environment variables should be set to prevent the error.

For example when I'm missing `OS_AUTH_URL` I get:
[code]

Taking a peek under the hood, I see: https://github.com/gophercloud/gophercloud/blob/master/openstack/auth_env.go#L53

I think it would be an improvement

[2018-03-28 21:14] lingxiankong commented on #852
Thanks for writing this issue!

[2018-03-29 02:09] #843 closed

[2018-03-29 18:04] jtopjian opened #855 "Possible Issue with Recent Reauth Changes"
Since https://github.com/gophercloud/gophercloud/pull/743 was merged, we've been seeing random unit test failures both in Travis and OpenLab:

[code]

(http://logs.openlabtesting.org/logs/49/849/2bbea63b3dff3e4c7d723da04d4694075e7c815f/check/gophercloud-unittest/ebe21e3/job-output.txt.gz)

The test will pass upon retry, so this feels like a true concurrency issue.

[2018-03-29 19:08] waynr commented on #234
Oh whoops, I guess I should have read the rest of the comments more closely. Sorry about that!

[2018-03-30 15:18] waynr commented on #234
## Things I'm gonna Implement
* [ ] Get (https://github.com/gophercloud/gophercloud/pull/859)
* [ ] delete (TODO)
* [ ] Update (TODO)
* ~~Create~~ Based on the API reference documentation, it doesn't look to me
  like there is a `Create` endpoint for quotas; I guess new projects just
  inherit some OS env default

## API:
https://developer.openstack.org/api-ref/block-storage/v3/index.html#quota-se

[2018-03-30 17:12] jtopjian commented on #234
@waynr Really great write-up :)

I haven't done a deep investigation into this but, from what I understand, each volume type has a set of quota fields. For example a volume type of "foo" will have quota fields of `gigabytes_foo`, etc. Because of this, we can't have defined fields since it's impossible to account for _everyone's_ volume type names.

I think the best way to handle this is to treat t

[2018-04-01 22:08] jrperritt commented on #814
I agree with @jtopjian ; this seems like a problem elsewhere. Feel free to comment if you think otherwise and can provide more information (or a repro).

[2018-04-01 22:08] #814 closed

[2018-04-01 22:31] jrperritt commented on #837
closed by #845

[2018-04-01 22:31] #837 closed

[2018-04-01 22:57] jrperritt commented on #855
I'll look into this.

[2018-04-02 03:24] zhangzujian opened #862 "Identity V3: change user password"
Before starting a PR, please read the [style guide](https://github.com/gophercloud/gophercloud/blob/master/STYLEGUIDE.md).

API reference:
[Identity API v3 - Change password for user](https://developer.openstack.org/api-ref/identity/v3/index.html#change-password-for-user)

Python source code:
https://github.com/openstack/keystone/blob/a6adc72e3e7ff4ff0bff0702e69ebd8f697d6261/keystone/identity/rout

[2018-04-02 06:22] zhangzujian opened #864 "Errors in Identity V3 Acceptance Tests"

[2018-04-02 07:09] zhangzujian opened #866 "Identity V3: add user to group"
API reference:
[Identity API v3 - Add user to group](https://developer.openstack.org/api-ref/identity/v3/#add-user-to-group)

Python source code:
https://github.com/openstack/keystone/blob/a6adc72e3e7ff4ff0bff0702e69ebd8f697d6261/keystone/identity/routers.py#L49
https://github.com/openstack/keystone/blob/a6adc72e3e7ff4ff0bff0702e69ebd8f697d6261/keystone/identity/core.py#L1248
https://github.com/op

[2018-04-02 15:41] jtopjian opened #869 "OpenLab: Add Support for testing with the Queens release"
OpenLab would like to test Gophercloud against the OpenStack Queens release.

[2018-04-02 19:14] jrperritt commented on #852
closed by #854

[2018-04-02 19:14] #852 closed

[2018-04-02 21:45] waynr commented on #311
@jtopjian @jrperritt I'm wondering if y'all would be open to a PR that adds support to https://github.com/gophercloud/gophercloud/blob/master/auth_options.go#L30 for an `AdditionalCAPEM` field or some such that would take a base64-encoded PEM that could be obtained from an environment variable `OS_CA_PEM`. I've had to hack this into gophercloud anyway to get past the `x509: certificate signed by u

[2018-04-02 22:26] jrperritt commented on #855
I can't reproduce this. I've run `go test -v -run Reauth* -count 20 github.com/gophercloud/gophercloud/testing/...` several time,s and they've all passed.

[2018-04-02 22:37] jtopjian commented on #855
Yeah, and I haven't seen any unit test failures from Travis or OpenLab for a few days now... bizarre. If it happens with Travis again, I'll make sure I don't re-run the test. Not sure what good that'll do, though.

[2018-04-02 22:44] jtopjian commented on #311
@waynr That kind of support is a bit out of scope for Gophercloud. Gophercloud is easily able to handle situations like this by creating a custom http client. I say "easily" but it's not immediately obvious to those not familiar with how to do so.

This is the example I usually point people towards:

https://github.com/terraform-providers/terraform-provider-openstack/blob/master/openstack/config.g

[2018-04-02 23:30] waynr commented on #311
My problem isn't that I think that I have to add support to `gophercloud` to support non-system CA certificates for a project that is outside of `gophercloud`

The problem is that I want to write and run acceptance tests to get a different feature that I am working on merged into this repository. In order to do that the simplest thing I could think to do which only requires your permission to also

[2018-04-02 23:44] jtopjian commented on #311
@waynr

Can you provide more details about this different feature? Does it require authentication via SSL certificates? If so, that feature might also be out of scope of Gophercloud.

If you need this support to be able to run Gophercloud in the OpenStack environment which you have access to, then I recommend setting up a separate, small OpenStack cloud to do the testing. Acceptance tests are mean

[2018-04-02 23:57] waynr commented on #311
Okay I get it, not gonna press the issue any more. Thanks for responding to my questions.

For what it's worth I want to support the root ca used by my existing openstack environment in order to reduce cycle time working on https://github.com/gophercloud/gophercloud/issues/234, rather than wait 30 minutes for the automated testing on this repo to finish every time I make changes. The only tests I

[2018-04-03 00:12] jtopjian commented on #311
OK, understood.

Only a subset of acceptance tests are run at this time. There's intention to get all tests to run in the future, but for now, just a heads up that there's a chance that tests you submit wouldn't be run.

That's understandable. I can certainly appreciate the limited time people have to contribute.

One option for you would be to make any changes you need to the acceptance test clie

[2018-04-03 08:59] Adrian-Turjak commented on #252
@jtopjian So to continue our discussion I guess the thing we want to consider is how gophercloud should handle rescoping of a token.

So from what I gather, gophercloud has scoping for password auth, but not token auth. So a lot of the same mechanisms could be reused for that?

Eventually down the line you'll also want to add support for more than just password and token auth methods, especially a

[2018-04-03 09:12] zhangzujian opened #874 "Identity V3: remove user from group"
API reference:
[Identity API v3 - Remove user from group](https://developer.openstack.org/api-ref/identity/v3/#remove-user-from-group)

Python source code:
https://github.com/openstack/keystone/blob/a6adc72e3e7ff4ff0bff0702e69ebd8f697d6261/keystone/identity/routers.py#L49
https://github.com/openstack/keystone/blob/a6adc72e3e7ff4ff0bff0702e69ebd8f697d6261/keystone/identity/core.py#L1273
https://git

[2018-04-03 09:24] #864 closed

[2018-04-03 10:22] zhangzujian opened #875 "Service Client: implement HEAD method"
Some Keystone APIs use HEAD method.

[2018-04-03 15:40] jtopjian commented on #252
Actually before we get to that, I think we need to make some changes to `AuthOptions` in order to handle scoping correctly.

I might be jumping ahead of myself, but per discussion in https://github.com/terraform-providers/terraform-provider-openstack/issues/275, it looks as though `gophercloud.AuthOptions` needs to support the ability to pass in a Domain Name or ID specifically for scoping purpose

[2018-04-03 17:45] waynr commented on #234
I think I'll go ahead and skip this for now. I've written and run acceptance tests against one of my OS projects to verify the behavior of the code. About to open four more PRs on top of #859.

[2018-04-04 01:51] #862 closed

[2018-04-04 02:29] jtopjian commented on #866
Implemented in #867

[2018-04-04 02:29] #866 closed

[2018-04-04 04:35] jtopjian commented on #874
Implemented in #882

[2018-04-04 04:35] #874 closed

[2018-04-04 06:27] zhangzujian opened #883 "Identity V3 roles: list role assignments for user on project"
API reference:
[Identity API v3 - List role assignments for user on project](https://developer.openstack.org/api-ref/identity/v3/#list-role-assignments-for-user-on-project)

Python source code:
https://github.com/openstack/keystone/blob/a6adc72e3e7ff4ff0bff0702e69ebd8f697d6261/keystone/assignment/routers.py#L92
https://github.com/openstack/keystone/blob/a6adc72e3e7ff4ff0bff0702e69ebd8f697d6261/key

[2018-04-04 07:57] majewsky commented on #252
That sounds about right. The `AuthOptions` have two different concerns, identifying the user and identifying the scope. In general, both are not connected in any way. Only by convention, user and project are *usually* in the same domain, which is why the existing `AuthOptions` works in many cases.

For perspective, if I were to design `AuthOptions` from scratch today, it would probably be an inter

[2018-04-04 08:54] zhangzujian opened #886 "Identity V3: Check Whether User Belongs to Group"
API reference:
[Identity API v3 - Check whether user belongs to group](https://developer.openstack.org/api-ref/identity/v3/#check-whether-user-belongs-to-group)

Python source code:
https://github.com/openstack/keystone/blob/a6adc72e3e7ff4ff0bff0702e69ebd8f697d6261/keystone/identity/routers.py#L49
https://github.com/openstack/keystone/blob/a6adc72e3e7ff4ff0bff0702e69ebd8f697d6261/keystone/identity

[2018-04-04 16:45] jtopjian commented on #252
Actually, there already is an interface:

https://github.com/gophercloud/gophercloud/blob/master/openstack/identity/v3/tokens/requests.go
https://github.com/gophercloud/gophercloud/blob/781450b3c4fcb4f5182bcc5133adb4b2e4a09d1d/openstack/client.go#L192

So if an application can accurately detect if Identity v3 is being used (config flag or something), the app can bypass `gophercloud.AuthOptions` al

[2018-04-04 21:32] jtopjian opened #891 "Fix Go Tip Formatting Failures"
Per https://travis-ci.org/gophercloud/gophercloud/jobs/362340957, Travis is giving errors about formatting with go tip.

[2018-04-05 00:07] jrperritt commented on #891
closed by #892

[2018-04-05 00:07] #891 closed

[2018-04-05 01:49] jtopjian commented on #855
@jrperritt Here's a recent Travis failure:

https://travis-ci.org/gophercloud/gophercloud/jobs/362271442

[2018-04-05 02:58] jrperritt commented on #855
Thanks, that helps. You can re-run that one if you want. I'll run the test under the race detector and see what it says.

[2018-04-05 08:53] majewsky commented on #252
If you consider `AuthOptions` deprecated, then what about `AuthOptionsFromEnv`? This function is extremely valuable for *if* it can cover all the environment variables that the upstream openstackclient recognizes (which it does not, at the moment). Maybe a better API would be:

[code]

Compared to `AuthOptionsFromEnv`, this could recognize whether v2 or v3 auth needs to be used, and use either `Au

[2018-04-05 14:15] jtopjian commented on #252
IMO, `AuthOptionsFromEnv` should be moved to `gophercloud/utils`. Reading in environment variables is arguably more on the application side than a core part of Gophercloud. I think the function served a useful purpose being in Gophercloud "core", but as things grow, it makes more sense it move it somewhere more appropriate.

[2018-04-06 12:51] jrperritt opened #897 "add field to ServiceClient for user-defined headers"
Proposal:
[code]

This would enable users to provide values that can be set as headers before the request is sent. These values would override any [header] values Gophercloud sets.

This feature would be particularly useful for services that need to set the same value for every request, such as Zaqar.

Update: The header for the token does not get overridden, since that happens in `ProviderClient.

[2018-04-06 14:46] jrperritt commented on #645
@mlowery thank you for your help with this. Please let me know if you experience another re-authentication issue.

[2018-04-06 14:46] #645 closed

[2018-04-06 17:52] mlowery commented on #645
@jrperritt: Thanks for the fixes! Coincidentally, I just got around to picking up the latest changes a few days ago. So reauth no longer recurses. Perfect.

However, we are using gophercloud as the client for a custom service that authenticates via keystone. Due to the misuse of the 401 code by this custom service (it's misusing it to mean forbidden instead of the correct 403 code), we can have th

[2018-04-06 23:08] egrh3 opened #903 "Cinder Backup"
It looks like `gophercloud` doesn't support `cinder-backup`? Is it on your roadmap?

[2018-04-07 00:30] jrperritt commented on #645
That's probably something you'll have to handle in your app with a custom `http.Client` since the cause is app-specific. One option may be, within the custom `http.Client`, checking the request path and response code and then correcting the response code before sending the response back to Gophercloud.

[2018-04-07 02:09] jrperritt commented on #897
closed by #898

[2018-04-07 02:09] #897 closed

[2018-04-07 04:27] jtopjian commented on #903
@egrh3 Do you mean the backup API actions?

https://developer.openstack.org/api-ref/block-storage/v3/index.html#backups-backups

I don't think anyone is actively working on it at the moment. You're more than welcome to work on it if you'd like. Or else I can mark this issue as "Help Wanted" for anyone else to.

[2018-04-08 03:08] jtopjian opened #906 "Image Service v2: Incorrect Unmarshaling of Empty Images"
Unmarshaling empty images is currently broke because the method is returning early when `size_bytes` is set to null.

This prevents the rest of the unmarshaling from proceeding - notably handling of properties.

https://github.com/gophercloud/gophercloud/blob/8873eb140010928dfbfb1e4a7f9cadab94de3ce2/openstack/imageservice/v2/images/results.go#L105

[2018-04-08 07:15] zhangzujian commented on #886
@jtopjian Good suggestion. PR is ready for review.

[2018-04-08 18:17] jtopjian opened #910 "Invalid required tags"
While poking around test coverage, I spotted two places where the "required" tag is used incorrectly. Both occurrences are with header opts. No query opts are being used incorrectly (or at all, for that matter).

[2018-04-08 20:33] jrperritt commented on #910
Reposting from the PR to here (which is probably the more correct place for discussion):

I'm fine with either being the format. The `tag,required` is more in agreement with the `json` package (and probably looks better), but then either the `required` label is position-dependent or you iterate over the comma-split slice looking for "required".

[2018-04-08 20:37] jtopjian commented on #910
IMO, I'm leaning on the non-comma required field for two reasons:

1. It's more commonly used right now so it'll be a larger change than the opposite.
2. It's more apparent that it's a tag specific go Gophercloud.

[2018-04-08 20:53] jrperritt commented on #910
Sounds good

[2018-04-08 21:42] jtopjian opened #912 "Packages Not Tested for Coverage"
There are a significant number of packages not being tested for coverage:

[code]

This is probably a bug in Go.

I'm able to get the package tested if I add something to `fixtures.go` that references the package being tested. For example:

[code]

The above hack could be done for all packages in question as a quick way to resolve this issue. The correct approach would be to define fixtures correc

[2018-04-09 21:52] egrh3 commented on #903
Yes. Sorry, I could have made my initial question more explicit by referencing what I was asking for.

I may not have the time available to assist with this. I don't in the short-term ( next couple of weeks ). If you can tag this is "help wanted", that'd be great. I'll know more when I'm done with my current list of work / tasks.

[2018-04-09 21:57] jtopjian commented on #903
Sure, sounds good. There's no obligation at all.

[2018-04-10 09:39] #883 closed

[2018-04-12 22:07] jrperritt commented on #700
To follow up on this, we'll probably wait on merging it into `master` until we can run the acceptance tests.

[2018-04-13 02:27] kevin-zhaoshuai commented on #700
@jtopjian Haha, in my opinion, the option 3 is the most easy and efficiency way to solve this problem. So if we choose 3, what should we do next?
Thanks

[2018-04-13 02:33] jtopjian commented on #700
@kevin-zhaoshuai I also think option 3 is the easiest, but I trust @jrperritt's judgement on this. So if he would prefer 1 or 2, I'll do what I can to help make either one as easy and quick as possible to get things rolling.

[2018-04-13 02:36] kevin-zhaoshuai commented on #700
@jtopjian OK Thanks~let's wait for @jrperritt 's opinion.

[2018-04-13 02:46] jtopjian commented on #700
@kevin-zhaoshuai From reviewing the discussion in the other PRs, I think the main issue was resolving this:

https://github.com/gophercloud/gophercloud/pull/865

I've cherry picked that commit and opened #930. If you'd like, I can merge it.

However, I'm not sure if merging that will cause issues when we finally merge `zun-exp` with `master`. Let's wait for @jrperritt to add some input.

[2018-04-13 17:51] jtopjian opened #931 "Networking v2: Subnet CIDR is not a required field"
As reported in https://github.com/terraform-providers/terraform-provider-openstack/issues/282, specifying a CIDR is optional when using subnet pools:

https://github.com/gophercloud/gophercloud/blob/master/openstack/networking/v2/subnets/requests.go#L83

[2018-04-14 00:32] jtopjian commented on #700
@jrperritt I gave Option 2 a good try in #930 but there's a good amount of commits required where it would be easier just to do the large merge in #929.

IMO, Option 3 is the easiest way to go. Thoughts?

[2018-04-14 03:41] jtopjian commented on #252
Hi all,

There have been two major updates to this:

The first is that #896 has been merged which adds support for a Scope struct to `gophercloud.AuthOptions`. As mentioned, the `v3/tokens` package already supported this but now that the `gophercloud.AuthOptions` struct supports this, is should be trivial to create all required scoping configurations.

Second, I have done a [major rewrite](https:/

[2018-04-16 21:37] jtopjian opened #934 "Compute v2: Fix quotaset style"
`compute/v2/extensions/quotasets` could use some style fixes.

[2018-04-16 22:30] jrperritt commented on #934
closed by #935

[2018-04-16 22:30] #934 closed

[2018-04-17 01:32] lingxiankong opened #937 "[Octavia] Can not list pools by listener_id"
Octavia does not support to filter pools by listener_id.
[code]

[2018-04-17 04:47] hongbin commented on #700
I think Option 3 is an ideal path for us (zun team). Per my understanding, Zun was put to a separated branch because the "capsule" API is experimental at that time. For now, the "capsule" API is graduated and merged into the stable API. We committed to maintain the stability of this API and any backward-incompatible change requires a bump of API micro-version by zun's team policy. Therefore, I thi

[2018-04-17 04:50] jtopjian commented on #937
Fixed in #938

[2018-04-17 04:50] #937 closed

[2018-04-17 05:00] lingxiankong commented on #832
hi, @jtopjian this issue could be closed :-) I will submit follow up patches for improvement or potential bugfix, thanks a lot for your review so far!

[2018-04-17 05:01] jtopjian commented on #832
Sounds good!

As well, thank you for your work implementing this -- it's very much appreciated!

🎉

[2018-04-17 05:01] #832 closed

[2018-04-17 08:57] majewsky opened #939 "advice on error handling"
When I get an error from Gophercloud because (for instance) the server returned 404, the error message is hard-coded to `Resource not found` which is extremely vague. The server usually includes a more helpful error message in the response body, but I have to jump through some hoops to actually get to it, like in

https://github.com/sapcc/limes/blob/46c2e6e6f2aad33b6a0027d698853c7c5f4ad781/pkg/api

[2018-04-17 20:25] jrperritt commented on #931
closed by #940

[2018-04-17 21:07] jrperritt commented on #910
closed by #913

[2018-04-17 21:07] #910 closed

[2018-04-17 21:18] jtopjian opened #941 "Fix Broken query tag"
Looks like there was a query tag merged prior to #911 being merged.

[2018-04-17 21:29] jrperritt commented on #941
closed by #942

[2018-04-17 21:29] #941 closed

[2018-04-18 00:39] jtopjian commented on #700
It looks like it'll take a little work to get a clean merge to happen. I will look into this and open a PR.

[2018-04-18 01:25] #886 closed

[2018-04-18 04:53] jrperritt commented on #931
really closed by #943

[2018-04-18 04:53] #931 closed

[2018-04-19 03:55] jtopjian opened #947 "Malformed v3 Endpoint"
As reported in https://github.com/terraform-providers/terraform-provider-openstack/issues/239, when a catalog is publishing an Identity v2 endpoint and the user creates a v3 client, the endpoint will be created as:

[code]

I've confirmed this behavior in an environment publishing a v2.0 endpoint.

[2018-04-19 12:30] etegan opened #949 "Orchestration docs"
I'm having a really hard time finding any documentation on the orchestration/v1 packages at [godoc](https://godoc.org/github.com/gophercloud/gophercloud). Am I missing something trivial? Thanks for a great product!

[2018-04-20 00:35] jtopjian commented on #949
Nope, you're not missing anything. Unfortunately the orchestration packages get the least amount of attention. It's nothing against Heat/Orchestration, which is a great service, it's more that they aren't regularly used by frequent Gophercloud contributors.

I'll mark this as "Help Wanted" to flag that we'd like to see this improved.

[2018-04-20 00:43] jtopjian commented on #939
It's working as it's coded but I agree that it's not helpful. We recently merged https://github.com/gophercloud/gophercloud/pull/714 so if something similar could be done with the 404, I'd be happy to merge that, too.

[2018-04-20 09:00] majewsky commented on #939
The same thing already exists for 404 (if you look in the diff on #714, it's right below the added lines in each file). I think my problem is more that I do not understand the purpose of having all these error types in the first place. What's the benefit of having `ErrDefaultNNN` for each status code instead of just `ErrUnexpectedResponseCode` which already has the `Actual` field to indicate the s

[2018-04-20 19:46] jtopjian commented on #939
The 403 and 404 errors are now implemented the same way. However, the default error string in the 403 now returns more information about the error than what it did prior to merging #714:

[code]

Since you mentioned the standard hard-coded `Resource not found` message that 404 is returning, I thought that was what the original issue was about.

Creating types for each class of error can be used to

[2018-04-20 19:50] majewsky commented on #939
I see, thanks for clarifying. For perspective, I'm using a slightly different pattern in [Schwift](https://github.com/majewsky/schwift): It also has an `UnexpectedStatusCodeError`, but then uses a special function (rather than subtypes) for checking specific status codes: https://github.com/majewsky/schwift/blob/d23b4052c0866698b14ac13ac98581d9f5440a9b/errors.go#L116-L134 - This avoids most of the

[2018-04-20 19:50] #939 closed

[2018-04-23 11:42] majewsky opened #958 "SecGroupRule.PortRangeMin/Max unmarshaling error when server provides string value"
I have code like this:

[code]

This emits a `POST $neutron_endpoint/v2.0/security-groups` with request body

[code]

and my Neutron (Mitaka) answers with 201 and the following response body:

[code]

This causes an error because Gophercloud expects the "port_range_min/max" attributes to always be integers, not strings:

[code]

[2018-04-23 22:31] jtopjian commented on #958
@majewsky Do you know what security group driver the cloud is using? I'm unable to find the word `bootps` in https://github.com/openstack/neutron or https://github.com/openstack/neutron-lib. As well, I checked a Mitaka cloud that I have access to and still no results for `bootps` nor am I seeing the same behavior.

Maybe it's custom middleware for security group creation or a third-party security

[2018-04-24 02:45] jtopjian commented on #700
I've merged #944 which gets Zun into the master branch. You folks can use this issue (#700) to house additional Zun PRs, but I would recommend making an itemized list for all API calls that you intend to implement as to give a status of progress.

An example of this can be seen here: https://github.com/gophercloud/gophercloud/issues/723

Alternatively you can open a new issue for each PR or group

[2018-04-24 02:49] hongbin commented on #700
Cool. Thanks for your help @jtopjian . Greatly appreciate it.

[2018-04-24 02:50] kevin-zhaoshuai commented on #700
@jtopjian  Thanks for help! I will do that!

[2018-04-24 03:06] #252 closed

[2018-04-24 09:25] majewsky commented on #958
@abattye Can you answer that for Converged Cloud?

[2018-04-25 00:12] jtopjian commented on #596
Closed by #962

[2018-04-25 00:12] #596 closed

[2018-04-25 11:51] majewsky commented on #958
The culprit is our Arista driver: https://github.com/sapcc/networking-arista/blame/9221b2635f87ca45dae3610c4f5ccfa7c5fe95dd/networking_arista/ml2/arista_sec_gp.py#L515 - It's breaking the API contract and thus breaking a lot of other clients, too, so we'll develop a fix on our side. Sorry for the noise.

[2018-04-25 11:51] #958 closed

[2018-04-25 14:52] jtopjian commented on #958
No problem at all! This is a common occurrence with Terraform. I'll add Arista to my list of known vendors that do weird things 😄

Thanks for following-up.

[2018-04-25 15:26] waynr opened #963 "Octavia loadbalancer implementation incorrectly uses "tenant_id" rather than "project_id""
For reference in the Octavia source code see:
https://github.com/openstack/octavia/blob/54a4cf00cf304b108013ca4487c138c13f30983d/octavia/api/v2/types/load_balancer.py#L45

For reference in the Octavia docs see:
https://developer.openstack.org/api-ref/load-balancer/v2/index.html#show-load-balancer-details

I can also verify from experience that https://github.com/gophercloud/gophercloud/blob/e25975

[2018-04-25 15:31] jtopjian commented on #963
@waynr Thanks! We noticed this while we were adding the L7Policy stuff. I think @lingxiankong was going to follow-up with a patch. @lingxiankong would you still be able to work on this?

[2018-04-25 23:38] lingxiankong commented on #963
@jtopjian yeah, sure, it's still on my TODO list, sorry for some delay as I am working with openlab guys to fix some issue I met with the octavia-ingress-controller.

@waynr please let me know if you are going to fix by yourself, so we won't duplicate effort :-)

[2018-04-25 23:40] jtopjian commented on #963
+ 1

No worries if you don't have time, the above quote is exactly what I was more concerned about. If no one has time, I don't mind doing it, either. :)

[2018-04-26 04:35] lingxiankong commented on #963
@jtopjian let's wait for @waynr's answer, I can definitely do that if he is unavailable.

[2018-04-26 14:05] waynr commented on #963
I'll let someone else take this one, there are a couple other project/tenant id related issues i want to file coming out of the same work that led me to discover this one.

[2018-04-26 23:34] lingxiankong commented on #963
Then I'll take this one.

[2018-04-27 01:45] jtopjian commented on #963
Fixed in #964

[2018-04-27 01:45] #963 closed

[2018-04-27 15:28] dims opened #966 "Support for Keystone Federation"
Ran into this at https://massopen.cloud/ They have setup Keystone federation with Github and other providers

- https://kaizen.massopen.cloud/dashboard/auth/login/?next=/dashboard/
- https://osticket.massopen.cloud/kb/faq.php?id=16
- https://docs.openstack.org/keystoneauth/latest/plugin-options.html#v3oidcpassword

Looks like all the magic is done in the python client side. So we will have to emul

[2018-04-27 15:28] dims commented on #966
cc @fedosin @flaper87

[2018-04-28 01:40] jtopjian commented on #875
Implemented in #876